@charset "utf-8";

/* 한글 HyundaiSansHead */
@font-face {
    font-family: "HeadBold";
    src: url("../fonts/HyundaiSansHeadKRBold.eot");
    src: url("../fonts/HyundaiSansHeadKRBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansHeadKRBold.woff2") format("woff2"),
    url("../fonts/HyundaiSansHeadKRBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HeadLight";
    src: url("../fonts/HyundaiSansHeadKRLight.eot");
    src: url("../fonts/HyundaiSansHeadKRLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansHeadKRLight.woff2") format("woff2"),
    url("../fonts/HyundaiSansHeadKRLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HeadRegular";
    src: url("../fonts/HyundaiSansHeadKRRegular.eot");
    src: url("../fonts/HyundaiSansHeadKRRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansHeadKRRegular.woff2") format("woff2"),
    url("../fonts/HyundaiSansHeadKRRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HeadMedium";
    src: url("../fonts/HyundaiSansHeadKRMedium.eot");
    src: url("../fonts/HyundaiSansHeadKRMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansHeadKRMedium.woff2") format("woff2"),
    url("../fonts/HyundaiSansHeadKRMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* 한글 HyundaiSansText */
@font-face {
    font-family: "TextBold";
    src: url("../fonts/HyundaiSansTextKRBold.eot");
    src: url("../fonts/HyundaiSansTextKRBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansTextKRBold.woff2") format("woff2"),
    url("../fonts/HyundaiSansTextKRBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TextMedium";
    src: url("../fonts/HyundaiSansTextKRMedium.eot");
    src: url("../fonts/HyundaiSansTextKRMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansTextKRMedium.woff2") format("woff2"),
    url("../fonts/HyundaiSansTextKRMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TextRegular";
    src: url("../fonts/HyundaiSansTextKRRegular.eot");
    src: url("../fonts/HyundaiSansTextKRRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HyundaiSansTextKRRegular.woff2") format("woff2"),
    url("../fonts/HyundaiSansTextKRRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
