@charset "UTF-8";

/* heading */
h1,h2,h3,h4,h5,h6 {margin:0;font-weight:normal; font-family:'KIA', sans-serif;}

h1 {float: left; width: 111px; height: 40px; margin:13px 0 13px 30px; background: url(../images/top_logo.png) no-repeat 0 0; background-size: 100% auto;}
h1 a {display: block; width: 100%; height: 100%; font-size:0;text-indent:-9999px;}
h1 a:hover, h1 a.active {background:none;}
h2:before {content: ""; display: block; position: absolute; left: 50%; width: 40px; height: 3px; background-color: #222; margin:-5px 0 0 -20px; line-height: 1.2;}
h2 {font-size: 24px; font-weight: bold; text-align: center; padding: 30px 25px 15px; color:#222; letter-spacing: -1px; border-bottom: 1px solid #e3e3e3; white-space:pre-wrap;}
h3:before {content: ""; display: inline-block; width: 3px; height: 18px; background-color: #bb162b; margin: -3px 10px 0 0; vertical-align: middle;}
h3 {font-size:24px; color: #111; display: inline-block;}
h3 span {dispaly:block;font-size:18px;color: #ccc;}
h4 {font-size:15px; display: inline-block; margin-right: 20px; color: #111; margin: 0 30px 10px 0; float: left;}
h5 {font-size: 15px; color:#333;}
h3,h4,h5,h6 {font-weight:500; letter-spacing: -1px;}


/* form */
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=date], select, textarea {width: 100%; height: 26px; line-height:26px; padding: 0 10px; border: 1px solid #e5e5e5; resize: vertical;}
textarea {width: 100%; min-height: 60px;}
input:focus, select:focus, textarea:focus {border:1px solid #e51937;}
label {position: relative; display: inline-block; color: #000; font-size: 13px; font-weight: 500; vertical-align: middle;}


/* login */
.wrapper {position: relative; width: 100vw; height: 100vh; background-image: linear-gradient(45deg, #27aae2 0%, #84c44c 100%); background-size: 100%; background-position: right center; transition: all 600ms ease;}
h1.l-tit {float: unset; width: 100%; height: 31px; margin:20px 0 30px -5px; font-size: 0; text-indent: -9999px; background: url(../images/kia_logo.png) no-repeat 50% 0; background-size: 240px 31px;}
#alert_errMsg{position: relative; display:inline-block; color:#333; font-size:18px; font-weight:bold; margin:0 10px; line-height:1.5;}
#alert_errMsg:after{display: none;}
#hero-background {position:absolute; display:block; width:100%; height:100% !important; min-height:100%; background: url('../images/login_bg.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-position:center center; -ms-background-size:cover; background-size:cover;}
.form-section {position:relative; display:table; width:100%; height:100%; max-height:100%;}
.form-section .contain-wrapper {display:table-cell; vertical-align:middle; text-align:center;}

/* 2019.08.16 by 퍼블리셔 : 파이어폭스에서 로그인 화면이 안나온다는 오류 : 파이어폭스에서 로그인 박스의 가로와 세로의 값이 %로 지정을 해놓았는데 그 부분의 사이즈를 인식하지 못하여 나타나는 오류였습니다. */
.form-section .form {position:relative; display:block; width:1400px; height:700px; background:#fff; margin:0 auto; border-radius: 25px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity:0; -webkit-transform:translate(0,-100px); -moz-transform:translate(0,-100px); transform:translate(0,-100px); overflow: hidden;}
/*.form-section .form {position:relative; display:block; width:72%; height:74%; background:#fff; margin:0 auto; border-radius: 25px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity:0; -webkit-transform:translate(0,-100px); transform:translate(0,-100px); overflow: hidden;}*/

.save-id {float: left; height: 60px;}
/* Animation */
.form-section .form.isActive {opacity:1; -webkit-transform:translate(0,0); transform:translate(0,0); transition:all 1s ease 0s;}
.left-area {float: left; width: 40%; height: 100%;}
.right-area {float: left; width: 60%; height: 100%; background: url('../images/login_visual.jpg') no-repeat 50% 50%; background-size: cover;}
.left-area .login-wrap {position: absolute; width: 40%; top:50%; margin-top: -23%;}
.login-wrap .checkmark {left:10px !important; top:10px !important;}
.form-section .form-header img.logo {display: block; width: 240px; margin: 0 auto 20px;}
.form-section .form-contain {padding:0 7%;}
.form-footer {margin-top:50px;}
/* Input Setup */
.form-section .form-contain .form-control {display:block; width:100%; height:auto; font-weight:400; font-size:14px; line-height:15px; color:#666; padding:15px 15px 15px 60px; border:1px solid #d3dae1; border-radius:4px; outline:none; box-shadow:none; margin-bottom: 20px; transition:all 0.3s ease 0s;}
.form-section .form-contain .form-control:focus {color:#c41230; border:2px solid #c41230; outline:0; box-shadow:none;}
.form-section .form-contain .form-control.username {background: #fff url('../images/icon_id.png') no-repeat 15px 50%;}
.form-section .form-contain .form-control.password {background: #fff url('../images/icon_password.png') no-repeat 15px 50%;}
.form-section .form-contain .username:focus {background: #fff url('../images/icon_id_ov.png') no-repeat 15px 50%;}
.form-section .form-contain .password:focus {background: #fff url('../images/icon_password_ov.png') no-repeat 15px 50%;}
.form-section .form-contain .btn-login {display: block; font-weight: 500; color: #fff; font-size: 24px; line-height: 48px; letter-spacing: 0; background: #c41230; padding: 0 45px; border-radius: 4px; width: 100%; height: 50px; margin-top: 20px; vertical-align: middle;}
.form-section .info {display: block; width: 100%; color: #666; font-size: 14px; padding: 2% 7%;}
.form-section .form-contain .form-control::-webkit-input-placeholder {color:#a5aeb8;}
.form-section .form-contain .form-control:-moz-placeholder {color:#a5aeb8;}
.form-section .form-contain .form-control::-moz-placeholder {color:#a5aeb8;}
.form-section .form-contain .form-control:-ms-input-placeholder {color:#a5aeb8;}
.btn-member {margin-top: 50px;}
.btn-member a {display: inline-block; padding:0 10px; font-size: 14px;}
.btn-member a:nth-child(2) {border-left: 1px solid #ddd;}


/* 비밀번호 변경 */
.modal .member {padding-top: 20px; max-width: 600px; text-align: center;}
#passChange .member {max-height: 1000px; height:620px;}
#passFind .member {max-height: 370px;}
.modal .member-tit {color: #111; font-size: 30px; font-weight: 500; padding-top: 20px; text-align: center;}
.modal .member-txt {width: 100%; color: #333; font-size: 14px; margin: 15px auto; padding: 0 25px; text-align: center;}
.modal .member-content {margin-top: 15px; padding-top: 15px; border-top:1px solid #e5e5e5;}
.modal .member-info {color: #666; margin: 15px 0; text-align: left;}
.modal .member-info span {display: block; height: 18px;}
.modal .member-info span.inner-txt {text-indent: 15px;}
.modal input[type=text], input[type=password] {height: 26px; margin-bottom: 6px;}
.member-btnWrap {width: 100%; position: absolute; text-align: center; margin-top: 30px; left: 50%; transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%);}


/* 언어 선택 */
.drop-down {position: relative; position: relative; display: -moz-inline-stack; zoom: 1; display: inline-block; *display: inline; cursor: default; width: 140px; float: right; margin: 30px 0 20px 0;}
.drop-down .button {padding: 8px 12px 6px; width: 140px; background-color: #949ba6; border-radius: 3px;}
.drop-down .button span {background-position: 18px 45%; background-repeat: no-repeat; display: inline-block; width: 140px; height: 20px; font-size: 14px; color: #fff; margin-left: -15px;}
.drop-down select {display: none;}
.drop-down .select-list {position: absolute; top: 0; left: 0; z-index: 1; margin-top: 40px; padding: 0; background-color: #949ba6;}
.drop-down .select-list li {display: none;}
.drop-down .select-list li span {display: inline-block; min-height: 34px; min-width: 140px; width: 100%; padding: 0 15px 0 45px; background-color: #949ba6; background-position: 15px center; background-repeat: no-repeat; font-size: 14px; text-align: left; color: #fff; line-height: 34px;}
.drop-down .select-list li span:hover,
.drop-down .select-list li span:focus {background-color: rgba(0, 0, 0, 0.2);}
.select-list-link .ion {position: absolute; top: 8px; right: 15px; color:#fff; font-size: 16px;}
.KO  {background: url(../images/icon_kor.png) no-repeat 0 50%;}
.EN {background: url(../images/icon_eng.png) no-repeat 0 50%;}


/* header */
.header {position: fixed; width:100%; height:60px; background-color: #003468; z-index: 1000;}
.header .topNav {float: right;}
.header .topNav a {display: inline-block; color: rgba(255,255,255,0.5); text-align: center; text-transform: capitalize; padding: 22px 0; font-size: 16px; margin-left: 50px; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; letter-spacing: -1px;}
.header .topNav a:hover, .header .topNav a.active {color: #fff ; border-bottom: 3px solid #fff;}
.header .topNav a .ion {display: inline-block; font-size: 30px; width: 1.1em; vertical-align: middle;}
.header .topNav a.user {margin-left: 20px;}
.header .topNav a.user .ion {margin-right: 10px;}
.header .topNav a.user:hover, .header .topNav a.user.active {color:#fff; border-bottom: none;}
.header .topNav .tooltip {position: relative; margin-left: 20px; padding-right:30px; }
.header .topNav .tooltip:hover,
.header .topNav .tooltip:focus,
.header .topNav .tooltip.active {border-bottom: none;}
.header .topNav a.line:before {display: inline-block; content: ""; width: 1px; height: 14px; background: rgba(255, 255, 255, 0.4); margin-right: 20px; vertical-align: middle;}
.header .topNav .tooltip .tooltiptext {display:none; visibility: hidden; width: 80px; background-color: #fff; color: #111; font-size: 14px; text-align: center;border-radius: 6px; padding: 5px 0; position: absolute; z-index: 10000; top: 90%; right: 30px; opacity: 0; transition: opacity 0.3s; box-shadow:0 3px 6px 0 rgba(0,0,0,.1);}
.header .topNav .tooltip .tooltiptext::after {content: ""; position: absolute; bottom: 100%; right: 10px; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent #fff transparent;}
.header .topNav .tooltip:hover .tooltiptext {visibility: visible; opacity: 1;}

/* aside */
.sidenav {height: calc(100% - 60px); width: 240px; position: fixed; z-index: 100; top: 60px; left: 0; background-color: #c5ccd3; overflow-x: hidden;
  border-right: 1px solid #aaa;}
.sidenav .lnb {display: flex; flex-direction: column; flex: 1;}
.sidenav .lnb ul.nav-container {overflow: auto;}
.sidenav .lnb li.nav-item { overflow: hidden;}
.sidenav .lnb li.nav-item:after {clear: both; display: table; content: "";}
.sidenav .lnb li.nav-item span {display: block; width: 100%; color: #333; font-size: 14px; font-weight: 500; background: #fff; padding: 10px 0 10px 15px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid transparent; cursor: pointer;  position: relative;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidenav .lnb li.nav-item span::after {content: ""; position: absolute; right: 20px; top: 45%; border: solid #333; border-width: 0 1px 1px 0; display: inline-block; padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transition: -webkit-transform 0.25s ease;
    transition: -ms-transform 0.25s ease;
    transition: transform 0.25s ease;
}
.sidenav .lnb li.nav-item span.sn::after {display: none;}
.sidenav .lnb li.nav-item span.sn:hover {background: #eee;}
.sidenav .lnb li.nav-item span.sn.active {background-color: #bb162b; color: #fff;}
.sidenav .lnb li.nav-item span.sn.active a {color: #fff;}
.sidenav .lnb li.nav-item.open span.sn {border-bottom: none; color: #333;}
.sidenav .lnb li.nav-item:first-of-type span {border-top: none;}
.sidenav .lnb li.nav-item:last-of-type span {border-bottom: 1px solid #e3e3e3;}
.sidenav .lnb li.nav-item ul.subnav {visibility: hidden; max-height: 0; transition: 0.25s ease; transition-property: max-height, opacity; opacity: 0;
  padding: 0; margin: 0;}
.sidenav .lnb li.nav-item ul.subnav li {width: 100%; height: 100%; background: #e0e3e6; padding: 2px 10px;}
.sidenav .lnb li.nav-item ul.subnav a {position: relative; display: block; width: 180px; color: #666; font-size: 13px; padding: 6px; letter-spacing: -1px; transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.sidenav .lnb li.nav-item ul.subnav a:hover {background: #efefef; border-radius: 3px;}
.sidenav .lnb li.nav-item ul.subnav a.active {color: #fff; background: #00afd5; border-radius: 3px;}
.sidenav .lnb li.nav-item.open span {border-bottom: 1px solid #e3e3e3; color: #000;}
.sidenav .lnb li.nav-item.open span::after {-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.sidenav .lnb li.nav-item.open ul.subnav {visibility: visible; max-height: 200px; opacity: 1;}


/* section */
.container {position: relative; width: calc(100vw - 240px); top: 60px; left: 240px; padding: 10px 30px 50px 30px;}
.container:after {clear: both; display: table; content: "";}
.sub-txt {margin-top: 10px;}


/* search-form */
.search-form {width: 100%; margin: 20px auto; padding: 10px; border: 2px solid #e5e5e5;}
.modal-body .search-form {margin-top:0;}
.search-form:after {content: ""; display: table; clear: both;}
.search-form .search-input-area {display: table; float: left; width: 80%;}
.search-form .search-input-area label {width: 35%; display: table-cell; line-height: 1.2; text-align: right; padding-right: 10px;}
.search-form .search-input-area .label-calendar {width: 17.5%;}
.search-form .search-input-area .label-calendar2 {width: 23.5%;}
.search-form .search-input-area .inputWrap {width: 100%; display: table-cell; vertical-align: middle;  padding-right: 15px;}
.search-input-area select {height: 26px; line-height: 26px; margin: 4px;}
#monTimeList {width: 180px;}
.search-input-area input {height: 26px; line-height: 26px; margin: 4px;}
.search-form .search-button-area {float: right; width: 20%; text-align: right;}
.search-form .search-button-area button {margin: 4px;}

/* table */
.table-area {position: relative; width: 100%; margin-bottom: 20px; border-bottom: 1px solid #eee;}
.table-area:after {content: ""; display: table; clear: both;}
.list-table {border-collapse: collapse; border-spacing: 0; width: 100%; border-top: 1px solid #9ca5b2;}
.list-table th {text-align: center; padding: 8px 10px; border-bottom: 1px solid #e5e5e5; background: #f5f5f5; color: #000; font-weight: 500; white-space: nowrap;}
.list-table td {text-align: center; padding: 8px 10px; border-bottom: 1px solid #e5e5e5;}
.list-table tr:hover {background-color: rgba(236, 240, 246, 0.2);}
.must:before {position: absolute; content: '*'; width: 10px; display: inline-block; color: #bb162b; font-size: 18px; font-weight: normal; vertical-align: middle; margin-left:-13px; margin-top: -3px;}
.must2:before {position: relative; content: '*'; width: 10px; display: inline-block; color: #bb162b; font-size: 18px; font-weight: normal; vertical-align: middle; margin-right:5px; margin-top: -3px;}
.list-table td .search-input {position: relative;}
.list-table td .btn-search {position: absolute; top:0; right: 0; min-width: 20px !important; padding: 10px; color: #999; font-size: 18px; cursor: pointer;}
.list-table td .btn-search:hover {box-shadow: none; color: #000;}
.list-table td .btn-search .ion {position: absolute;top:3px; right: 10px;}
.list-table2 th {border-bottom: 1px solid #ccc;}
.list-table2 td.agreement {overflow: auto; text-align: left;}
.list-table2 td.agreement .agreement-inner {width: 95%; height: 80px;}


/* 동의서 예제 */
.list-table2 td.agreement.popCont {}
.list-table2 td.agreement .textArea {}
.list-table2 td.agreement .textArea .paragraph{font-size:14px;color:#888;margin-bottom:12px;line-height:22px}
.list-table2 td.agreement.textArea .paragraph.top{margin-top:20px}
.list-table2 td.agreement.textArea .paragraph a{color:#888}
.list-table2 td.agreement .textArea .listStyle02 li{font-size:14px;color:#888;line-height:22px}
.list-table2 td.agreement .textArea .listStyle02 li:before{top:10px;background:#888}
.list-table2 td.agreement .textArea .listStyle02 li a{color:#888}
.list-table2 td.agreement .textArea .tit{display:block;font-size:14px;font-weight:700;color:#555;margin-bottom:10px;margin-top:30px}
.list-table2 td.agreement .textArea .end{padding-bottom:20px}

/* button */
button, .btn {display: inline-block; height: 26px; padding: 5px 15px; margin-left: 4px; font-size: 13px; line-height: 1; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; user-select: none;background-image: none; border: 1px solid transparent; border-radius: 3px; -webkit-transition: all 0.25s; -ms-transition: all 0.25s; -moz-transition: all 0.25s; transition: all 0.325;}
button:hover, .btn:hover {box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);}
.btn-area {display: inline-block; float: right;}
.btn-area:after {clear: both; display: table; content: "";}
.search-button {background-color: #222e4f;  color: #fff;}
.search-button .ion {margin-right: 3px;}
.save-button {background-color: #00afd5; color: #fff;}
.line-button {background: #fff; border: 1px solid #ddd; color: #333;}
.line-button:hover {border: 1px solid #bb162b; color: #bb162b;}
.excelUp, .excelDown {display: inline-block; width: 16px; height: 15px; margin-right: 5px; vertical-align: middle;}
.excelUp {background: url(../images/icon_excel_upload.png) no-repeat 0 0; background-size: cover;}
.excelDown {background: url(../images/icon_excel_download.png) no-repeat 0 0; background-size: cover;}
.line-button:hover .excelUp {background: url(../images/icon_excel_upload_ov.png) no-repeat 0 0; background-size: cover;}
.line-button:hover .excelDown {background: url(../images/icon_excel_download_ov.png) no-repeat 0 0; background-size: cover;}
.btnCtrl-wrap {position: relative; top: 200px; float: left; width: 100px; height: 100px;}
.btn-add, .btn-remove {position: absolute; left: 50%; width: 40px; min-width: 40px !important; height: 40px; display: block; border-radius: 40px; margin: 10px 0 0 -23px; padding:0; }
.btn-add {background:#f0f0f0 url(../images/ico_arrow.png) no-repeat 0 0;}
.btn-remove {background:#f0f0f0 url(../images/ico_arrow.png) no-repeat 0 -40px; top:50px;}
.btn-add:hover {background:#bb162b url(../images/ico_arrow.png) no-repeat -40px 0;}
.btn-remove:hover {background:#bb162b url(../images/ico_arrow.png) no-repeat -40px -40px;}
.btn-topWarp {display: inline-block; float:right;}
.btn-control {background: #949ba6; color: #fff;}
.ion-logo-windows {font-size: 14px; color: #999; margin-right: 5px;}
.winop:hover .ion-logo-windows {color: #bb162b;}
.btn-ico {float: right; min-width: 30px !important; width: 30px; height: 26px;  padding: 2px !important; margin: 4px;}
.btn-ico .ion {color: #333; font-size: 16px;}
.btn-ico:hover .ion {color: #bb162b;}
.btn-copy {float: right; display:inline-block; height: 26px; background:#949ba6; color:#fff; font-weight: 500; text-align: center; border-radius: 3px; cursor:pointer; transition:background .3s ease, color .3s ease;}
.btn-request {display:inline-block; width:60px !important; background:#949ba6; padding:0; color:#fff; font-weight: 500; text-align: center; border-radius: 3px; cursor:pointer; transition:background .3s ease, color .3s ease; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}


/* check box*/
.check-wrap { display: block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.check-wrap .checkmark {top:2px;}
.check-wrap:hover input ~ .checkmark {background-color: #bbb;}
.check-wrap input:checked ~ .checkmark {background-color: #bb162b; border: 2px solid #bb162b;}
.check-wrap input:checked ~ .checkmark:after {display: block;}
.check-wrap .checkmark:after {left: 3px; top: -1px; width: 5px; height: 10px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

.checkLabel { display: block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;}
input.tui-grid-cell-main-button, input.Checkbox_input  {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.checkmark {position: absolute; top: 50%; left:50%; height: 18px; width: 18px; background-color: #fff; border: 2px solid #757575; border-radius: 2px; box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.checkLabel:hover input ~ .checkmark {background-color: #bbb;}
.checkLabel input:checked ~ .checkmark {background-color: #bb162b; border: 2px solid #bb162b;}
.checkmark:after {content: ""; position: absolute; display: none;}
.checkLabel input:checked ~ .checkmark:after {display: block;}
.checkLabel .checkmark:after {left: 3px; top: -1px; width: 5px; height: 10px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
th.tui-grid-cell-head .checkLabel {top:0;}
.tui-grid-cell-head .checkLabel .Checkbox_input  {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}

.grid {max-height: 680px; padding-right: 17px; overflow-y:auto; min-height:100px}
.grid:after {content: ""; display: table; clear: both;}
.grid-line {position: relative; top: 0; float: left; width: 60px; height: 500px;}
.grid-line:after {content: ""; position: absolute; width: 1px; height: 100%; background-color: #eee; left: 29px;}

.grid2 {max-height: 560px; padding-right: 17px;}
.grid2:after {content: ""; display: table; clear: both;}
.grid2-line {position: relative; top: 0; float: left; width: 60px; height: 450px;}
.grid2-line:after {content: ""; position: absolute; width: 1px; height: 100%; background-color: #eee; left: 29px;}

.summary {float: right; margin: 10px;}
.summary span {display: inline-block; margin-left: 5px;}
.tui-grid-btn-tree:hover {box-shadow: none;;}


/* Modal */
.modal {display: none; position: fixed; z-index: 899999; padding-top: 100px; left: 0; top: 0; right: 0;
    bottom: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.2); overflow: hidden;
    -webkit-overflow-scrolling: touch; outline: 0; animation-delay: 0.5s;}
.modal-header {position: relative; padding: 10px 15px; border-bottom: 2px solid #bb162b;}
.modal-body {padding: 20px; position: relative; min-height: 90%; width: 100%;overflow:hidden;}
.modal-body h3 {margin-top: 0;}
.close {position: absolute; top: 0; right: 15px; color: #000; float: right; font-size: 26px; font-weight: bold; opacity: 0.3; z-index: 10;}
.close:hover, .close:focus {text-decoration: none; cursor: pointer; opacity: 0.8; box-shadow: none;}
.modal-content {position: fixed; background-color: #fff; z-index: 999999;; width: 60%; max-width: 1200px; height: 60%; overflow: auto; margin: auto; padding: 0; top: 0; left: 0; bottom: 0; right: 0; border: 1px solid #888; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); animation-name: animatetop; animation-duration: 0.4s;}
.modal .confir {width: 350px; min-height: 140px;  max-height: 300px;}
.modal .confir-txt {color: #333; font-size: 16px; margin: 10px auto; text-align: center;}
.ico-area {width: 80px; text-align: center; margin: 0 auto; display: block;}
.confir .ico-area .ion {color: #bb162b; font-size: 100px;}

.modal .modal-tit {text-align: center; padding: 30px; border-bottom: 1px solid #e5e5e5;}
.modal .modal-tit p {font-size: 16px; margin-top: 20px;}
.modal .modal-tit h3:before {display: none;}
.modal .list_type {margin-top:-10px}
.modal .list_type > li {color: #333; margin-top:20px;padding-left:15px;text-indent:-15px}
.modal .modal-txt {color:#333; margin-top: 30px;}
.modal-btnWrap {position: absolute; bottom: 0; left:50%; transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 100%; text-align: center;}

.modal .alert {width: 400px; max-height: 400px;}
.ico-area {width: 80px; text-align: center; margin: 0 auto; display: block;}
.alert .ico-area .ion {color: #bb162b; font-size: 100px;}
.alert-tit {color:#111; font-size: 32px; font-weight: 500; padding-top: 20px; text-align: center; border: none;}
.alert-txt {width: 96%; color: #333; font-size: 16px; margin:15px auto; padding: 0 25px; text-align: center;}
.alert-tit:before {display: none;}
.alert-txt span {position: relative; display: inline-block; color:#111; font-size: 20px; font-weight: bold; margin: 0 10px; border-top:1px solid #e51937;}
.alert-txt span:after {content: ""; position: absolute; bottom: -3px; left: 0; width: 100%; height: 1px; background-color: #e51937;}
.alert-content {max-width: 500px; margin: 20px auto; border-top:1px solid #e5e5e5;}
.alert-content:after {clear: both; display: table; content: ""; height: 20px;}
.alert-info {color: #666; margin: 20px 0 0;}

.window-header {position: relative; padding: 15px 20px; border-bottom: 2px solid #bb162b;}
.window-body {padding: 20px; position: relative; min-height: 85%; width: 100%;}
.window-body h3 {margin-top: 0;}
.window-content {position: fixed; background-color: #fff; z-index: 9999; width: 100%; height: 100%; overflow: auto; margin: 0 auto; padding: 0; top: 0; left: 0; bottom: 0; right: 0;}
.window-content2 {position: fixed; background-color: #fff; z-index: 9999; width: 100%; height: 100%; overflowX: hidden; overflowY: auto; margin: 0 auto; padding: 0; top: 0; left: 0; bottom: 0; right: 0;}
.window-txt {color:#333; margin-top: 30px;}
/* .window-btnWrap {position: absolute; text-align: center; bottom: 30px; left:50%; transform: translateX(-50%);} 2019.08.16 */
.window-btnWrap {position: relative; width: 100%; text-align: center; left:50%; transform: translateX(-50%); margin-top: 20px; z-index: 10000;}


/* Add Animation */
@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* date-picker */
.calendar_wrap {position:relative;}
.calendar_wrap .input_calendar {float: left; min-width:180px !important; max-width: 247px !important; background: url(../images/icon_calendar.png) no-repeat 95% 50%;}
.calendar_wrap2 {left:0; width: 100%; display: table;}
.calendar_wrap2 .input_calendar2 {display: table-cell; max-width: calc(100% - 10px) !important;}
.calendar_wrap2 .space2 {display: table-cell; width: 15px; padding: 0 4px; text-align: center; vertical-align: middle;}
.search-form .search-input-area .inputWrap .calendar_wrap {left:0; width: 100%; display: table;}
.search-form .search-input-area .calendar_wrap .input_calendar {display: table-cell; max-width: calc(100% - 10px) !important;}
.search-form .search-input-area .calendar_wrap .space {display: table-cell; width: 15px; padding: 0 4px; text-align: center; vertical-align: middle;}
.ico_calendar{position: absolute; right: 10px;color: #999; font-size:18px; margin-top: 10px;}
.ui-datepicker {position:absolute !important; border: 0!important; padding:10px;width:247px !important;background-color:#fff;z-index:1;box-shadow: 0 10px 50px 0 rgba(0,0,0,.2); border-radius: .125rem!important; z-index: 10000000 !important;}
.ui-datepicker .ui-datepicker-title {font-size:14px}
.ui-datepicker table {border-top: 1px solid #f4f4f4 !important;}
.ui-widget-header {background:none;border:none}
.ui-datepicker .ui-datepicker-header .ui-icon-circle-triangle-w {position:absolute; top:15px; border-style: solid; border-width: 0.1em 0.1em 0 0; display: inline-block; width: 0.6em; height: 0.6em; transform: rotate(-135deg);}
.ui-datepicker .ui-datepicker-header .ui-icon-circle-triangle-e {position:absolute; top:15px; border-style: solid; border-width: 0.1em 0.1em 0 0; display: inline-block; width: 0.6em; height: 0.6em; transform: rotate(45deg);}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:none;background:none;}
.ui-datepicker-calendar thead {padding-bottom:2px;margin-top:22px;height:22px;border-bottom:1px solid #f4f4f4}
.ui-datepicker-calendar thead th {width:30px !important;text-align:center;font-size:13px}
.ui-datepicker-calendar thead th:last-child {margin-right:0}
.ui-datepicker-calendar tbody td a {width:30px !important;height:22px !important;text-align:center;font-size:13px;}
.ui-datepicker-calendar tbody td.mark_today {background:#f23325;color:#fff}
.ui-datepicker-calendar tbody td.mark_offday {background:#b5b5b5;color:#e8e8e8}
.ui-datepicker-calendar tbody td:nth-child(7n) a {margin-right:0;color:#3581b6}
.ui-datepicker-calendar tbody td:first-child a,
.ui-datepicker-calendar tbody td:nth-child(7n+1) a {color:#f74f4f}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {border:none !important;background:none !important}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background-color:#323e51 !important;color:#fff}
.ui-state-default.ui-state-highlight {background-color:#bbb !important;color:#fff}
.ui-widget-header .ui-icon {background-image: none;}


/*--- Photo uploader ---*/
.photo-uploader-box {width: 100%; background: #fff; padding: 0; text-align: left; margin-left: -20px;}
.photo-upload-label{display:inline-block; background:#949ba6; padding:5px 15px; color:#fff; font-weight: 500; text-align: center; border-radius: 3px; cursor:pointer; transition:background .3s ease, color .3s ease;}
.photo-upload-label:hover {box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);}
#photo-upload {display:none;}
.img-upload-preview {margin-top: 20px;  padding: 10px;}
.list-table .modal-header {padding: 0px; min-height: 0px; border-bottom: none;}
.list-table .modal-body {min-height: 100%;}
.list-table .modal-body .img-responsive {max-width: 95%;}
.modal-dialog {top: 50px;}
.list-table .imgWrap {text-align: left; padding-left: 0;}
.media-left img {cursor: pointer; height: 150px !important; border: 1px solid #e5e5e5;}


/* error */
.full-container {position: relative; min-height: 500px; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}



/*loading*/
/* #loading {position: absolute; top: 50%; left: 50%; margin-top: -35px; margin-left: -35px;} */
/* loading */
/*.loading{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:200;}*/
.loading{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.3);z-index:200;}
/*.loading i{position:absolute;top:50%;left:50%;width:41px;height:42px;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);opacity:0.9;background:url('../images/loading.gif') no-repeat 0 0;}*/
.loading i{position:absolute;top:50%;left:50%;width:200px;height:200px;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);opacity:0.5;background:url('../images/BEAT_LOADING.gif') no-repeat 0 0;}

/* Responsive */
@media screen and (max-width: 1680px) {
/*    .form-section .form {width: 80%; height: 75%;}     2019.08.16  */
  .login-wrap .form-header {margin-top: 10px;}
   img.logo {width: 200px !important;}
   /*.btn-member {margin-top: 10px;}    2019.08.16  */
   .save-id {height: 50px;}
}

@media screen and (max-width: 1440px) {
  .left-area .login-wrap {margin-top: -23%;}
  .form-section .form {width: 80%; height: 75%;}
  /* .form-section .form {width: 1200px; height: 700px;}  2019.08.16 */
}

@media screen and (max-width: 1360px) {
  .form-section .form {width: 1000px; height: 600px;} /* 2019.08.16 신규 */
  img.logo {width: 150px !important;}  
  h1.l-tit {height: 26px; margin: 10px 0 10px -5px; background-size: 200px 26px;}
  .form-section .form-contain .form-control {padding: 12px 15px 12px 50px;}    
  .form-section .form-contain .form-control.username {background-size: 18px 20px;}  
  .form-section .form-contain .form-control.password {background-size: 18px 20px;}    
  .form-section .form-contain .btn-login {font-size: 18px; line-height: 40px; height: 40px;}
  .save-id {height: 30px;} 
  .grid {max-height: 450px;}
  .btn-member {margin-top: 30px;}
  .form-footer {margin-top: 30px;}
}

@media screen and (max-width: 1280px) {
  .modal-content  {width: 80%; height: 80%;}
   #passChange .member {height: 600px;}
   #passChange .member .member-tit {padding-top: 0;}      
   .header {height: 60px;}
   .header .topNav a {padding: 17px 0;}
    h1 {width: 100px; height: 36px;}
    .sidenav {height: calc(100% - 60px); width: 160px; top: 60px;}    
    .container {width: calc(100vw - 160px); top: 60px; left: 160px; padding: 10px 20px 30px 20px;}
}

/* 공유하기 이미지*/
.sns-header {width: 100vw; height: 60px; padding: 10px 20px; color: white; background: url(../images/qr_bg.jpg) no-repeat 0 0; overflow: hidden; background-size: 100% auto;}
.sns-header .logo-white {float: right; margin-right:1px; display: inline-block; width: 80px ; height: 40px; background: url(../images/kia_logo_white.png) no-repeat 0 0; background-size: cover; font-size: 0; text-indent: -9999px;}
.sns-header .r-tit {float: right; display: inline-block;  color: #fff; font-size: 18px; padding-top: 10px;}
.sns-container {text-align: center;}
.find-dealer {display:block; width: 100%; height: 40px; margin: 10px auto; padding-right: 15px; color: #B4B4B5 !important; font-size: 14px; font-weight: bold; text-align: right; line-height: 40px;  background-color: #fff; border-radius: 0px;}
.find-dealer2 {display:block; width: 100%; height: 40px; margin: 10px auto; padding-right: 15px; color: #B4B4B5 !important; font-size: 14px; font-weight: bold; text-align: right; line-height: 40px;  background-color: #fff; border-radius: 0px;}
.find-dealer:hover {font-weight: 500; transition: all 600ms ease;}
.find-dealer i {display: inline-block; font-size: 22px; color:red; margin-right: 5px; vertical-align: middle;}
.sns-img {width: 100%; background-color: #fff; padding: 0;}
.sns-img img {width: 100%; height: auto;}
.sns-list {clear: both; display: table; width: 100%; padding: 10px 0;}
.sns-list .btn-sns {display: table-cell; width: 50px; height: 50px; border-radius: 50px; font-size: 0; text-indent: -9999px; overflow: hidden; cursor:pointer;}
.sns-list .twitter {background: url(../images/icon_twitter.png) no-repeat 50% 50%;}
.sns-list .facebook {background: url(../images/icon_facebook.png) no-repeat 50% 50%;}
.sns-list .instagram {background: url(../images/icon_instagram.png) no-repeat 50% 50%;}
.sns-list .whatsApp {background: url(../images/icon_whatsApp.png) no-repeat 50% 50%;}
.sns-footer {width: 100vw; padding: 10px; text-align: center; color: white; margin-top: 30px; background: url(../images/qr_bg.jpg) no-repeat 0 0; overflow: hidden; background-size: 100% auto;}
.sns-footer .copy {display: block; color: #fff; font-size: 12px; line-height: 1.5; letter-spacing: -1px; margin:15px 0 10px;}
.sns-icon-search {width:20px; height:20px; margin-right:7px; margin-top:10px; clear:both;}


/* 모바일 QR 이미지 */
.qr-wrap {position: relative; width: 100vw; height: 100vh; overflow: hidden; background: url(../images/qr_bg.jpg) no-repeat 0 0; background-size: cover;}
.qr-header {padding-top: 8%; text-align: center; color: white;}
.qr-logo {display: block; width: 400px; height: 144px; margin: 0 auto; font-size: 0; text-indent: -9999px; background: url(../images/top_logo.png) no-repeat center 0; background-size:100% auto;}
.qr-tit {font-size: 5vw; margin-top: 30px; line-height: 1.2; font-weight: 500;}
.qr-footer {position: fixed; bottom: 0; right: 0;}
.qr-footer .foot-logo {float: right; display: inline-block; width: 140px ; height: 70px; margin: 0 15px 15px 0; background: url(../images/foot_logo.png) no-repeat 0 0; background-size: cover; font-size: 0; text-indent: -9999px;}
.qr-container {position: absolute; width: 90%; height: 60%; z-index: 100; margin: 20px 5%; box-shadow: 1px 2px 10px rgba(22,20,19,0.2); border-radius: 10px; background-color: #fff; text-align: center;}
.qr-code {min-width: 150px; min-height: 150px; margin: 10% auto; background-color: #e6e6e6; border-radius: 5px;}
.txt-area {color: #000; text-align: center;}
.qr-stxt {font-size:4.5vw; font-weight: normal;}
.qr-mtxt {font-size:5vw; line-height: 1.3; margin-top:20px; font-weight: 500;}


@media screen and (max-width: 768px){
   .qr-container {height: 55%;}
   .qr-code {margin: 7% auto;}
}

@media screen and (max-width: 414px) {
  .qr-logo {width: 160px; height: 58px;}
  .qr-footer .foot-logo {width: 74px ; height: 37px;}
  .qr-container {height: 60%;}
  .qr-code {width: 60%; margin: 12% auto;}
 }
 
 /* 20190722 판매모델관리 선택복사 버튼 클릭시 팝업 오류 수정*/

#copyOption {display: block; z-index: 999; animation-delay: 1.5s;}
#copyOption .modal-content {width: 1100px; max-height: 600px; height: 600px; overflow: hidden;}
#copyOption .modal-body {min-height: 500px;}
/*
#copyOption .column {width: calc(50% - 27px) !important; margin-right: 10px;}

#copyOption .modal-btnWrap {bottom: -26px;}
*/
#copyOption .grid3 {max-height: 420px; overflow: auto; min-height: 100px;}
#copyOption .grid3:after {content: ""; display: table; clear: both;}

.tui-grid-cell-current-row {background:#f2f2f2 !important;}
.tui-grid-cell-current-row .tui-grid-cell-content{color:#666;}
.tui-grid-cell-current-row .grid .tui-grid-cell{border:none;}

/* 20190722 추가  고객관리 > 고객정보 > 체험등록 QR관리  엑셀 업로드 버튼 클릭 팝업*/
#excelUpload .modal-content {width:350px; height: 200px; overflow: hidden;}
#excelUpload .modal-body {min-height: 150px;}
#excelUpload .modal-btnWrap {bottom: 20px;}
#excelUpload .input-file {position:relative; overflow:hidden; padding:0; display:block; max-width:100%; cursor:pointer; text-align: center;}
#excelUpload .input-file .btn-primary {white-space:nowrap; display:inline-block; margin-right:1em; vertical-align:top; background: #949ba6; color: #fff;}
#excelUpload .input-file ins {white-space: nowrap; display: block; max-width: 140px;  overflow: hidden; text-overflow: ellipsis; font-size: 14px;  color: #333; margin: 15px auto;}
#excelUpload .input-file:after {content:""; display:block; clear:both;}
#excelUpload .input-file input {width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; top:-100px; z-index:-1;}

#excelDownload .modal-content {width:500px; height: 200px; overflow: hidden;}
#excelDownload .modal-body {min-height: 150px;}
#excelDownload .modal-btnWrap {bottom: 20px;}
#excelDownload .input-file {position:relative; overflow:hidden; padding:0; display:block; max-width:100%; cursor:pointer; text-align: center;}
#excelDownload .input-file .btn-primary {white-space:nowrap; display:inline-block; margin-right:1em; vertical-align:top; background: #949ba6; color: #fff;}
#excelDownload .input-file ins {white-space: nowrap; display: block; max-width: 140px;  overflow: hidden; text-overflow: ellipsis; font-size: 14px;  color: #333; margin: 15px auto;}
#excelDownload .input-file:after {content:""; display:block; clear:both;}
#excelDownload .input-file input {width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; top:-100px; z-index:-1;}
 
#commonCodeList .modal-content {width:800px; height: 600px; overflow: hidden;}
#commonCodeList .modal-body {min-height: 500px;}
#commonCodeList .modal-btnWrap {bottom: 20px;}
#commonCodeList .input-file {position:relative; overflow:hidden; padding:0; display:block; max-width:100%; cursor:pointer; text-align: center;}
#commonCodeList .input-file .btn-primary {white-space:nowrap; display:inline-block; margin-right:1em; vertical-align:top; background: #949ba6; color: #fff;}
#commonCodeList .input-file ins {white-space: nowrap; display: block; max-width: 140px;  overflow: hidden; text-overflow: ellipsis; font-size: 14px;  color: #333; margin: 15px auto;}
#commonCodeList .input-file:after {content:""; display:block; clear:both;}
#commonCodeList .input-file input {width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; top:-100px; z-index:-1;}

/* 20190722 추가 사용자 목록 아이콘 삽입 */
.ico-cell {display: block; width: 100%; text-align: center; color: #c0c0c0; font-size: 16px;}

.btnCtrl-wrap2 {position: relative; top: 200px; float: left; width: 20px; height: 100px;}

/*
.tui-grid-cell-row-head{position:relative;}
.tui-grid-cell-row-head:after{content:"";position:absolute;top:0;right:0;width:1px;height:33px;background:#e5e5e5;}
.tui-grid-cell-row-head:before{content:"";position:absolute;top:0;left:0;width:100%;height:1px;background:#e5e5e5;}
*/

.highlightCell {background:#fff2f2 !important;}
.highlightCell2 {background:#e3fffe !important;}
.highlightCell3 {background:#80ffff !important;}
.highlightCell4 {background:#faffd9 !important;}
.highlightCell5 {background:#fff2f2 !important;}
.highlightCell6 {background:#f8f8fa !important;}
.highlightCell7 {background:#defcfe !important;}
.highlightCell8 {background:#ffd9d5 !important;}
.highlightCell9 {background:#fffcf0 !important;}
.highlightCell10 {background:#ffg2f9 !important;}

#salesModalList {display: block; z-index: -1; animation-delay: 1.5s;}
#salesModalList .modal-content {width: 1100px; max-height: 600px; height: 600px; overflow: hidden;}
#salesModalList .modal-body {min-height: 500px;}
#salesModalList .modal-btnWrap {bottom: -26px;}
.tui-grid-container p, .tui-grid-container input, .tui-grid-container textarea {padding: 10px; box-sizing: border-box;}

/*.tui-grid-cell.linked {text-decoration:underline; cursor : pointer; color:#00a9ff !important;}*/
.tui-grid-cell.linked {cursor:pointer;}
.tui-grid-cell.linked2 {text-decoration:underline; cursor : pointer; color:#3c3e45 !important;}
.tui-grid-cell.clickable {border: 1px solid #00a9ff !important;}


/* 대시보드, 챠트 */
/* .total_box_tool { background: rgba(18,21,33,0.93); border-radius:3px; box-sizing:border-box; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7);} 
.dashboard_visit { display:block; margin: 5px 5px 5px 5px; padding: 10px; background: rgba(18,21,33,0.93); border:1px solid #ddd; border-radius: 15px; box-sizing: border-box; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8); overflow:hidden;} 
.dashboard_visit:after { display: block; content: ''; clear:both; }
.dashboard_visit .countbox  {padding: 8px 8px 8px; padding-right: 15px; float: left; width: 140px; height: 100px; background-color: #ff0000; border-radius: 15px; font-size: 36px; font-weight: bold; text-align: center; vertical-align: middle; border:1px solid #ddd; border-radius: 15px; box-sizing: border-box; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);}
.dashboard_visit .countbox2 {padding: 8px 8px 8px; padding-right: 15px; float: left; width: 140px; height: 100px; background-color: #ffd700; border-radius: 15px; font-size: 36px; font-weight: bold; text-align: center; vertical-align: middle; border:1px solid #ddd; border-radius: 15px; box-sizing: border-box; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);}
.dashboard_visit .visitComent {font-size: 16px; text-align: center; vertical-align: middle;}
*/

.dashboard1 {position: relative; display: inline-block; float: left; padding-right: 15px; padding-bottom: 15px;}
/*.dashboard1 .countbox  {padding: 8px 8px 8px; float: left; width: 140px; height: 100px; background-color: #ff0000; border-radius: 15px; font-size: 36px; font-weight: bold; text-align: center; vertical-align: middle; border:1px solid #ddd; border-radius: 15px; box-sizing: border-box; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);}*/
.dashboard1 .countbox  {float: left; width: 140px; height: 90px; background-color: #F19CBB; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:2px solid #F19CBB; box-sizing: border-box; }
.dashboard1 .countbox2 {float: left; width: 140px; height: 90px; background-color: #ffd700; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:2px solid #ffd700; box-sizing: border-box; }
.dashboard1 .visitComent {font-size: 14px; text-align: center; vertical-align: middle;}
.blank_div1 {width: 20px; height: 90px; float: left;}

.dashboard2 {position: relative; display: inline-block; float: right; padding-left: 15px; padding-bottom: 15px;} ;
.dashboard2 .countbox1 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid #20a8d8; box-sizing: border-box;}
.dashboard2 .countbox2 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid #4dbd74; box-sizing: border-box;}
.dashboard2 .countbox3 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid rgb(248, 108, 107); box-sizing: border-box;}
.dashboard2 .countbox4 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid rgb(255, 193, 7); box-sizing: border-box;}
.dashboard2 .countbox5 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid rgb(111, 66, 193); box-sizing: border-box;}
.dashboard2 .countbox6 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid #e83e8c; box-sizing: border-box;}
.dashboard2 .countbox7 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid rgba(77, 189, 116 ,0.9); box-sizing: border-box;}
.dashboard2 .countbox1 {width: 140px; height: 90px; float: right; background-color: #f0f8ff; border-radius: 15px; font-size: 32px; font-weight: bold; text-align: center; vertical-align: middle; border:3px solid #20a8d8; box-sizing: border-box;}
.dashboard2 .visitComent {font-size: 14px; text-align: center; vertical-align: middle;}
.blank_div2 {width: 20px; height: 90px; float: right;}

.bar_chart_box_tool { background: rgba(18,21,33,0.93); border:1px solid #ddd;  border-radius:3px; box-sizing:border-box; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7); padding-bottom:10px;} /* border: 1px solid #73818f; */
.line_chart_box_tool { background: rgba(18,21,33,0.93); border:1px solid #ddd;  border-radius:3px; box-sizing:border-box; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7); padding-bottom:10px;}

/* 그래프 전체 틀 */
#graph_total_container { display:block; width:100%; }
#graph_total_container:after { display:block; content: ''; clear:both; }

/* 그래프  */
#graph_drawing_container { float:left; width:100%; height:400px; color:#fff; box-sizing:border-box;}  /*#151823   3a4149 */
/* #graph_drawing_container .graph_box_tool { float:left; width:100%; height:400px; margin-right:2%; margin-bottom:2%; padding:10px; background: #151823; border-radius:3px; border:1px solid #3c3e45; box-sizing:border-box; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7); } */
#graph_drawing_container .graph_box_tool { float:left; width:100%; height:400px; margin-bottom:15px; background: none; border-radius:3px; border:1px solid #3c3e45; box-sizing:border-box;}
#graph_drawing_container .graph_box_tool .graph_title {height:40px; margin:0 0 0; font-size:16px; color:#000; text-align:center; justify-content: center; vertical-align: middle !important;}

/* 20190821 추가  체험 > 장비관리 textarea 클릭 팝업*/
#detailPopup .modal-content {width:700px; height: 420px; overflow: hidden;}
#detailPopup .modal-body {min-height: 150px;}
#detailPopup .modal-btnWrap {bottom: 20px;}
#detailPopup textarea {width: 100%; min-height: 60px; height: 100%;}
#detailPopup .close1 {position: absolute; top: 0; right: 15px; color: #000; float: right; font-size: 26px; font-weight: bold; opacity: 0.3; z-index: 10;}
#detailPopup .close1:hover, .close1:focus {text-decoration: none; cursor: pointer; opacity: 0.8; box-shadow: none;}
