@charset "utf-8";

.grid .tui-grid-content-area {height:100%; border-color:#e0e0e0;}

/*.grid:before{content:""; display: block;position:absolute;top:0;left:0;width:100%;border-top:1px solid #ccc;z-index:30}*/
.grid.nolineT:before{/*border-color:#ddd;*/}
/* .grid .tui-grid-content-area{height:calc(100% + 1px);border-color:#e0e0e0;border-top:1px solid #2d2d38;} */
/* .grid .tui-grid-content-area:after{content:"";display: block;position:absolute;top:0;left:0;width:100%;height:1px;background:#2d2d38;z-index:20;} */
.grid .tui-grid-head-area{border-color: #ddd;}
.grid .tui-grid-table{border-bottom:1px solid #ddd; /*border-right:1px solid #ddd;*/}
.grid .tui-grid-lside-area{height:100%;}
.grid .tui-grid-lside-area .tui-grid-body-container {/*border-right:1px solid #e0e0e0;*/}
.grid .tui-grid-rside-area{width:auto !important;height:100%;box-sizing: border-box;}
.grid .tui-grid-body-area{height: calc(100% - 26px) !important;}
.grid.headerLine2 .tui-grid-body-area{height: calc(100% - 42px) !important;}

.grid .tui-grid-cell {padding:6px 10px;/*border-color:#e0e0e0; border:1px solid #e0e0e0;*/ font-size:13px; color:#666;}
.grid .tui-grid-cell-head {padding-top:1px; border-color:#e0e0e0;}
.grid .tui-grid-cell .tui-grid-cell-content{/* min-height:24px; */padding: 2px 0 2px 0; box-sizing:border-box;}
/*.grid .tui-grid-cell .tui-grid-cell-content{display:inline;min-height:24px;padding:0;} 이미지, select박스등을 가운데로 보내기위해 padding:0; display:inline; 적용함 */
.grid .tui-grid-cell input[type="checkbox"],
.grid .tui-grid-cell input[type="radio"]{position:relative;top:-1px;}
.grid .tui-grid-cell input,
.grid .tui-grid-cell select,
.grid .tui-grid-cell textarea{position:relative;top:-1px;}

.grid .tui-grid-border-line{background:#ddd;}
.grid .tui-grid-border-line-left{background:#ddd;}
.grid .tui-grid-border-line-right:after{content: ""; display: block;position:absolute;top:0;left:-17px;height: 100%; width:1px;background:#ddd;}
.grid .tui-grid-no-scroll-y .tui-grid-border-line-right:after{display:none;}
.grid .tui-grid-border-line-top{display:none;}

.grid .tui-grid-content-area.tui-grid-no-scroll-x{border-width: 0 0 1px;}
.grid .tui-grid-content-area.tui-grid-no-scroll-x .tui-grid-border-line-bottom{display:none;}
/*
.grid .tui-grid-scrollbar-frozen-border{border-color:#e0e0e0;}
.grid .tui-grid-scrollbar-right-bottom{border-color:#e0e0e0;}
.grid .tui-grid-scrollbar-right-top{border-color:#e0e0e0;}
*/
.grid .tui-grid-scrollbar-y-outer-border{border-color:#e0e0e0;background:#ddd;}
.grid .tui-grid-no-scroll-x .tui-grid-border-line-bottom{background-color:#e0e0e0}

.grid .tui-grid-cell-current-row {background:#f2f2f2 !important;}
.grid .tui-grid-cell-current-row .tui-grid-cell-content{color:#666;}
.grid .tui-grid-cell-current-row .grid .tui-grid-cell{border:none;}
.grid .tui-grid-layer-focus{display:none !important;}
/*.grid .tui-grid-layer-state{border:1px solid #ddd;border-top:none;}*/

.grid .tui-grid-cell-content input[type=text],
.grid .tui-grid-cell-content input[type=password]{height:20px;padding:0 3px;margin-top:1px;color:#222222;border:1px solid #cbcbcb;}
.grid .tui-grid-cell-content select{height:20px;padding-left:3px;margin-top:1px;color:#222222;border:1px solid #cbcbcb;}
.grid .tui-grid-cell-content textarea{padding:3px;margin-top:1px;box-sizing:border-box;border:1px solid #cbcbcb;color:#222222;}

.grid.nolineL .tui-grid-border-line.tui-grid-border-line-left{display:none;}

.grid.striped .tui-grid-row-even td {background:#fafafa;}
.grid .tui-grid-btn-sorting{height:12px;position:relative;top:-1px;}

.grid .getMapped{background:#dae3fe;}
.grid .getInit{background:#ffffff;}
