/* <link href="https://ejoo75.github.io/hcs/custom.css" rel="stylesheet"> 
https://material-ui.com/styles/basics/
https://www.daleseo.com/material-ui-styles/
*/

.MuiPaper-root.MuiDrawer-paperAnchorLeft{background-color: #000000!important;}
.MuiPaper-root.MuiDrawer-paperAnchorLeft div{backdrop-filter:unset!important;background-color:unset!important;}

.MuiAppBar-colorPrimary{background-color: #000000!important;}

#mainContent .MuiPaper-rounded{border-radius:0!important;}
#mainContent .MuiGrid-item div{border-radius:0!important;}
#mainContent div{background:#cccccc;}
#mainContent div div{background-image:none!important;}
#mainContent div div img{display:none! important;}
