/* <link href="https://ejoo75.github.io/hcs/custom.css" rel="stylesheet"> 
https://material-ui.com/styles/basics/
https://www.daleseo.com/material-ui-styles/
*/

.MuiPaper-root.MuiDrawer-paperAnchorLeft{background-color: #000000!important;}
.MuiPaper-root.MuiDrawer-paperAnchorLeft div{backdrop-filter:unset!important;background-color:unset!important;}

.MuiAppBar-colorPrimary{background-color: #000000!important;}
