@charset "UTF-8";

.datamanageHeader { background: #7B6D5D; border: 1px solid #7B6D5D}
.datamanageHeader p {margin: 0px; padding: 10px 15px; color: #fff; font-weight: bold; font-size: 18px;}
.datamanageBody {height: calc(100% - 72px); border: 1px solid #7c6c5d; border-top: 0px; padding:15px;}

.excelSearchWrapper {border: 1px solid #e6e3df; background: #f9f9f9; padding: 15px 15px 0; margin-bottom:10px;}
.excelSearchWrapper table { width: 100%; height: 130px; font-size: 13px;  }
.excelSearchWrapper table > tbody > tr > td { display: inline-flex; height: 32px; align-items: center; padding-right:10px;}
.excelSearchWrapper table > tbody > tr > td { width: calc(50% - 41px);}
.excelSearchWrapper table > tbody > tr > td:nth-child(3) { width: fit-content; text-align:right; padding-right:0;}
.excelSearchWrapper table > tbody > tr > td > .searchTypeSpan {display: inline-block; width: 20%; color: #9c936a; text-align: right; margin-right: 6px;}
.excelSearchWrapper table > tbody > tr > td > #selectTemplateNm { width: 80%; padding-left: 10px; }
.excelSearchWrapper table > tbody > tr > td > input[type='text'] { padding-left: 10px; }
.excelSearchWrapper table > tbody > tr > td > #excelCharger {width: 50%; }
.excelSearchWrapper table > tbody > tr > td > #excelCycle { width: 50%; }
.excelSearchWrapper table > tbody > tr > td > #excelVersion { width: 10%; }
.excelSearchWrapper table > tbody > tr > td > #excelDesc {width: calc(80% - 18px); }
.searchExcelBtn {display: inline-block; width: 40px; height: 20px; background: #fff; color: #9c836a; border:1px solid #9c836a; text-align: center; padding: 5px 10px; border-radius: 0; cursor: pointer; }
.searchExcelBtn:hover {color:#fff; background-color:#8a7057;}

.excelBtnWrapper { font-size: 13px; text-align: right;}
.excelBtnWrapper > #excelDownloadBtn { display: inline-block; width: 95px; height:30px; line-height:30px; text-align: center; border: 1px solid #93928f; border-radius: 3px; cursor: pointer; float: left;}
.excelBtnWrapper > #excelUploadBtn { display: inline-block; width: 95px; height:30px; line-height:30px; text-align: center; border: 1px solid #93928f; border-radius: 3px; cursor: pointer;}

.excelTemplateResultWrapper { height: calc(100% - 200px); overflow : auto; margin-top: 10px; border-top:1px solid #333; border-bottom:1px solid #c5c5c5;}
.excelTemplateResultWrapper > #excelTemplateTbl { border: 1px solid #DEE2E5; border-collapse: collapse; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead th { border: 1px solid #e8e8e8; background:#fafafa; height: 35px; white-space: nowrap;}
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateHead { background: orange; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateAttrHead { background: red; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateValueHead { background: red; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateTbody > tr > td {border: 1px solid #e8e8e8; text-align: center;}
#emptyDiv { text-align: center; font-weight: bold;}
