@charset "UTF-8";
@font-face{ 
	font-family:'NotoSans'; 
	src: url('font/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}
html, body{height:100%;min-height:800px; font-family:'NotoSans', sans-serif;}
body, th, body, ul, li, dl, dd, dt, p, div, input, select, textarea, button{font-family:'NotoSans', sans-serif;font-size:14px;color:#666;}
td {color:#666;line-height:1.5em;}
h2 {font-size:20px;line-height:1.6em;}
h3 {font-size:18px;line-height:1.6em;}
body, th, td {font-size:14px}
img{border:0px;}
td img, td input, td select, td .button{vertical-align:middle}
td{list-style-type:none;margin:0;padding:0}
ul, dl, li, ol, h1, h2, h3, h4, h5, h6, dd, dt, p, div{list-style-type:none;margin:0;padding:0}
em, address{font-style:normal}
form{margin:0;padding:0}
a{color:#000;text-decoration:none}
a:hover{text-decoration:underline}
input{vertical-align:middle;height:21px;}
input[readonly], select[readonly], textarea[readonly]{color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:-moz-read-only {cursor:default;color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:read-only {cursor:default;color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:focus:-moz-read-only {color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:focus:read-only, select:focus:read-only , textarea:focus:read-only  {color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:disabled {color:#c9c9c9;background-color:#f6f6f6;border-color:#eaeaea;}
select {height:25px;padding-left:7px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(images/ic_dropdown.png) no-repeat right center}
select:hover {background-image:url(images/ic_dropdown_hover.png)}
select:focus, select:active {background-image:url(images/ic_dropdown_active.png)}
select::-ms-expand {display:none;}
select, input, button, textarea {font-size:12px;outline: none;}
select:focus, input:focus, textarea:focus {border-color:#e5e5e5;}
select, input, textarea {color:#444;border:1px solid #aaa;background-color: #fff; }
select option, select optgroup {font-size:100%}
textarea {overflow:auto;font-size:100%;white-wrap:pre-wrap;width:98%;border:1px solid #e5e5e5;padding:5px 10px}

.datamanageHeader { background: #7B6D5D; border: 1px solid #7B6D5D}
.datamanageHeader p {margin: 0px; padding: 10px 30px; color: #fff; font-weight: bold; font-size: 18px;}
.datamanageBody {height: calc(100% - 47px); border: 1px solid #7c6c5d; border-top: 0px; padding:10px;}

.excelSearchWrapper {border: 1px solid #e6e3df; background: #f9f9f9; padding: 10px;}
.excelSearchWrapper table { width: 100%; height: 130px; font-size: 13px;  }
.excelSearchWrapper table > tbody > tr > td { display: inline-flex; height: 32px; align-items: center;}
.excelSearchWrapper table > tbody > tr > td:first-child { width: 60%;}
.excelSearchWrapper table > tbody > tr > td:nth-child(2) { width: 30%;}
.excelSearchWrapper table > tbody > tr > td > .searchTypeSpan {display: inline-block; width: 55px; color: #9c936a; text-align: right; margin-right: 6px;}
.excelSearchWrapper table > tbody > tr > td > #selectTemplateNm { width: 80%; padding-left: 10px; }
.excelSearchWrapper table > tbody > tr > td > input[type='text'] { padding-left: 10px; }
.excelSearchWrapper table > tbody > tr > td > #excelCharger {width: 50%; }
.excelSearchWrapper table > tbody > tr > td > #excelCycle { width: 50%; }
.excelSearchWrapper table > tbody > tr > td > #excelVersion { width: 10%; }
.excelSearchWrapper table > tbody > tr > td > #excelDesc {width: 80%; }
.searchExcelBtn {display: inline-block; width: 60px; height: 20px; background: #21201E; color: #fff; text-align: center; padding: 5px 0px; border-radius: 5px; cursor: pointer; }

.excelBtnWrapper { font-size: 13px; padding: 0px 20px; text-align: right;}
.excelBtnWrapper > #excelDownloadBtn { display: inline-block; width: 95px; text-align: center; padding: 3px 0px; border: 1px solid #858E96; border-radius: 5px; cursor: pointer; float: left;}
.excelBtnWrapper > #excelUploadBtn { display: inline-block; width: 95px; text-align: center; padding: 3px 0px; border: 1px solid #858E96; border-radius: 5px; cursor: pointer;}

.excelTemplateResultWrapper { width : 97%; height: 68%; overflow : auto; margin-top: 10px; padding: 0px 20px;}
.excelTemplateResultWrapper > #excelTemplateTbl { border: 1px solid #DEE2E5; border-collapse: collapse; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > th { border: 1px solid #DEE2E5; height: 25px; white-space: nowrap;}
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateHead { background: orange; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateAttrHead { background: red; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateThead > .templateValueHead { background: red; }
.excelTemplateResultWrapper > #excelTemplateTbl > #templateTbody > tr > td {border: 1px solid #DEE2E5; text-align: center;}
#emptyDiv { text-align: center; font-weight: bold;}
