@charset "UTF-8";
@font-face{ 
	font-family:'NotoSans'; 
	src: url('font/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}
body { background: #FAFAFA; font-family: 'NotoSans' !important;}
.noticeHeader { height:40px; color:#9c836a; padding: 15px 20px 0; text-align: left; font-size: 20px; border-bottom:1px solid #e6e3df;}

.noticeWrapper { height: 75%; margin: 15px 20px; background: #fff;}
.noticeWrapper > table {width: 100%; height: 100%; border: 1px solid #e8e8e8; border-collapse: collapse;}
.noticeWrapper > table td {font-size:13px; border: 1px solid #e8e8e8; padding-left: 10px;}
.noticeWrapper > table > tbody > tr > td:first-child {width: 110px; font-size:14px; font-weight: bold; background: #FAFAFA;}
.noticeWrapper > table > tbody > tr:last-child td{height: 50px!important; border-bottom:1px solid #c5c5c5!important}
.noticeWrapper > table > tbody > tr:first-child > td {border-top: 1px solid #333;}
.noticeWrapper > table .ql-toolbar { width: calc(100% - 10px);}
.noticeWrapper > table #quillEditor { width: calc(100% - 10px); height: calc(100% - 60px);}
.noticeWrapper #uploadListDiv { width: calc(100% - 12px); height: calc(100% - 50px); overflow-y: auto; border: 1px solid #DEE2E5; margin-top:5px;}
.noticeWrapper #uploadListDiv > ul {padding:0px; margin: 0px; padding:5px 10px; }
.noticeWrapper #uploadListDiv > ul > li { list-style: none; }
.noticeWrapper #uploadListDiv > ul > li > span { font-size: 13px; display: inline-block; width: 65%; }
.noticeWrapper #uploadListDiv > ul > li > #fileRemoveBtn {display: inline-block; float: right; cursor: pointer; width: 40px; height: 19px; border: 1px solid #93928f;
														margin-left: 25px; font-size: 11px; border-radius: 3px; line-height: 19px; text-align: center;}
#noticeTitle { width: calc(100% - 40px); height: 30px; border: 1px solid #DEE2E5; height: 40%; padding: 0px 15px;}
.btnWrapper { margin: 0px 20px; float: right;}
.btnWrapper #addNoticeBtn, .btnWrapper #modifyNoticeBtn {display: inline-block; width: 65px; height: 30px; line-height: 30px; background: #888; color: #fff;
														 text-align: center; font-size: 13px; border-radius: 3px; }
.btnWrapper #cancleModifyBtn {margin-right: 5px;}
.btnWrapper #getNoticeListBtn, .btnWrapper #cancleModifyBtn, .btnWrapper #cancleAddBtn {
	display: inline-block; width: 65px; height: 30px; border: 1px solid #93928f; background: #fff; text-align: center; font-size: 13px; line-height: 30px;
	border-radius: 3px; cursor: pointer;}
#addNoticeBtn, #getNoticeListBtn, #cancleModifyBtn { cursor: pointer;}

.noticeListWrapper { height: 500px; margin: 10px 20px 10px; background: #fff; border-top:1px solid #333 !important; border-bottom:1px solid #c5c5c5!important; border: 1px solid #e8e8e8;}
.noticeListWrapper > table {width: 100%; border-collapse: collapse;}
.noticeListWrapper > table > thead {height: 35px; background: #FAFAFA;}
.noticeListWrapper > table > thead > tr th {font-size:14px; border: 1px solid #e8e8e8; border-top: 0px;}
.noticeListWrapper > table > thead > tr th:first-child { border-left: 0px;}
.noticeListWrapper > table > thead > tr th:last-child {border-right: 0px;}
.noticeListWrapper > table > tbody > tr { height: 30px; cursor: pointer; }
.noticeListWrapper > table > tbody > tr:hover {color:#9c836a; background: #f9f9f9;}
.noticeListWrapper > table td {font-size:13px; border: 1px solid #e8e8e8; }
.noticeListWrapper > table > tbody > tr > td:first-child { border-left: 0px; }
.noticeListWrapper > table > tbody > tr > td:last-child { border-right: 0px; }
.noticeListWrapper > table > tbody > tr > td:nth-child(2) { padding-left: 20px;}
.noticeListWrapper .emptyList {text-align: center; border: none;}
.writeBtnWrapper { margin: 14px 20px 10px; text-align: right;}
.writeBtnWrapper span { cursor: pointer; color:#fff; display: inline-block; width: 65px; height: 30px; background: #888; text-align: center;
    font-size: 13px; line-height: 30px; font-weight: bold; border-radius: 3px;}
#cudResultWrapper {position: absolute; top: 80px; left: 574px;}
#result_status { background-color: rgb(176,166,153); border: 1px solid rgb(176,166,153); border-radius: 10px; padding: 5px 10px 7px;
							 color: #fff; font-weight: bold; font-size: 13px; z-index: 1001; }

.noticeInfoWrapper { height: 75%; margin: 15px 20px; background: #fff; border-top:1px solid #333 !important; border: 1px solid #e8e8e8;}
.noticeInfoWrapper > table {width: 100%; height:100%; border-collapse: collapse;}
.noticeInfoWrapper > table td {font-size:14px; border: 1px solid #e8e8e8; padding-left: 10px!important; }
.noticeInfoWrapper > table > tr:last-child td {border-bottom:1px solid #c5c5c5!important;}
.noticeInfoWrapper > table > tbody > tr:first-child > td {border-top: 0px;}
.noticeInfoWrapper > table > tbody > tr:last-child > td {border-bottom: 0px;}
.noticeInfoWrapper > table > tbody > tr > td:first-child { border-left: 0px; }
.noticeInfoWrapper > table > tbody > tr > td:last-child { border-right: 0px; }
.noticeInfoWrapper > table #attachFileListDiv { height: 95%; overflow: auto;}
.noticeInfoWrapper > table #attachFileListDiv > ul {margin: 0px; padding: 0px; font-size: 13px;}
.noticeInfoWrapper > table #attachFileListDiv > ul > li {list-style: none; margin-bottom: 3px; cursor: pointer;}
.noticeInfoWrapper > table #attachFileListDiv > ul > li:hover {font-color: #9c836a;}
.noticeInfoWrapper #quillEditor { border: 0px !important;}
.noticeInfoBtnWrapper { margin: 0px 20px; float: right;}
.noticeInfoBtnWrapper #getListBtn {display: inline-block; width: 65px; height: 30px; border: 1px solid #93928f; background: #fff; text-align: center; 
									font-size: 13px; line-height: 30px; border-radius: 3px;}
.noticeInfoBtnWrapper #modifyNoticeBtn {display: inline-block; width: 65px; height: 30px; line-height: 30px; background: #888; color: #fff; text-align: center;
										 font-size: 13px; border-radius: 3px; }
.noticeInfoBtnWrapper #removeNoticeBtn {display: inline-block; width: 65px; height: 30px; background: #ADB5BD; text-align: center; color: #fff;
										font-size: 13px; line-height: 30px; border-radius: 3px; margin-right: 5px; }
#getListBtn, #modifyNoticeBtn, #removeNoticeBtn { cursor: pointer; }

.pagingWrapper { text-align: center; padding-bottom: 10px;}
.pagingWrapper .pagination {font-size: 0px;} 
.pagingWrapper .pageNumBtn {list-style: none; display: inline-block; width: 25px; height: 25px; text-align: center; border: 1px solid #DFE2E5; background: #fff;
							font-size: 14px; line-height:1.7; cursor: pointer;}
.pagingWrapper .pageNumBtn:hover {border: 1px solid #7B6D5D;}
.pagingWrapper .pageNumBtn:hover > a {color: #7B6D5D; font-weight: bold;}
.pagingWrapper .pageNumBtn.active > a { color: #7B6D5D; font-weight: bold; font-size: 13px; }
.pagingWrapper .pageNumBtn a { text-decoration: none; color: #858E96;}
.pagingWrapper .prevPageBtn {list-style: none; display: inline-block; width: 25px; height: 25px; text-align: center; border: 1px solid #DFE2E5; background: #fff;
							font-size: 16px; cursor: pointer;}
.pagingWrapper .prevPageBtn a { text-decoration: none; color: #858E96;}
.pagingWrapper .prevPageBtn:hover {border: 1px solid #7B6D5D;}
.pagingWrapper .prevPageBtn:hover > a {color: #7B6D5D; font-weight: bold;}
.pagingWrapper .nextPageBtn {list-style: none; display: inline-block; width: 25px; height: 25px; text-align: center; border: 1px solid #DFE2E5; background: #fff;
							font-size: 16px; cursor: pointer;}
.pagingWrapper .nextPageBtn a { text-decoration: none; color: #858E96; font-size:13px;}
.pagingWrapper .nextPageBtn:hover {border: 1px solid #7B6D5D;}
.pagingWrapper .nextPageBtn:hover > a {color: #7B6D5D; font-weight: bold;}

#searchTypeSelect { float: left; width: 80px; height: 26px; border-radius:0; border:1px solid #cbcbcb; padding-left: 5px; margin-right:5px;}
#searchNotice { float: left; height: 24px; width: 170px; border-radius:0; border:1px solid #cbcbcb; padding: 0px 30px 0px 10px;}
#searchBtnIcon {float: left; cursor:pointer; position: relative; top: 5px; right: 22px;}
