/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@charset "utf-8";

html, body{height:100%;min-height:800px;margin:0px; font-family:'Open Sans', Arial, tahoma}
body, th, body, ul, li, dl, dd, dt, p, div, input, select, textarea, button{box-sizing:border-box; font-family:'Open Sans', Arial, tahoma;font-size:12px;color:#484848;line-height:1.5em}
h3 {font-family:'Open Sans', Arial, tahoma;color:#445fe6;font-size:24px;font-weight:400;line-height:1.4em;}
img{border:0px;}
td img, td input, td select, td .button{vertical-align:middle}
td{list-style-type:none;margin:0;padding:0}
ul, dl, li, ol, h1, h2, h3, h4, h5, h6, dd, dt, p, div{list-style-type:none;margin:0;padding:0}
a{color:#222;text-decoration:none}
a:hover{text-decoration:underline}

 /* Content Page */
.content_wrap {padding:10px 20px;} /* 20200906 - paddingLeftRight */
.title_wrap {overflow:hidden;padding:10px 0 20px 0;} /* 20200906 - paddingLeft */

 /* 20200906 SiteMap */
.sitemap_wrap .row{overflow:hidden;margin-bottom:30px;}
.sitemap_wrap .row .col {float:left;width:calc(25% - 13px);border-top:1px solid #ddd; margin-right:13px;}
.sitemap_wrap h5{color:#222;line-height:50px;font-size:18px;padding-left:15px;border-bottom:1px solid #eee;}
.sitemap_wrap ul li {line-height:35px;font-size:16px;font-weight:400;padding-left:15px;}
.sitemap_wrap ul li ul {margin-bottom:5px;}
.sitemap_wrap ul li ul li {line-height:30px;font-size:14px;font-weight:400;}
.sitemap_wrap ul li ul li:last-child {}
.sitemap_wrap ul li ul li label {padding-left:30px;}
.sitemap_wrap ul li ul li ul {}
.sitemap_wrap ul li ul li ul li {line-height:25px;font-size:13px;}
.sitemap_wrap ul li ul li ul li label, .sitemap_wrap ul li ul li ul li ul li a {padding-left:45px;}
.sitemap_wrap ul li ul li ul li ul {border-top:none;}
.sitemap_wrap ul li ul li ul li ul li {font-size: 12px;}

.sitemap_wrap li i{display:inline-block;vertical-align:middle;width:17px;height:17px; background:url(../images/icons.png) no-repeat;}
.sitemap_wrap li .ic_report {background-position:0 -272px;margin-right:7px;}
.sitemap_wrap li .ic_none {background-position:0 -257px;margin-right:7px;}

.sitemap_wrap, .sitemap_wrap ul{list-style: none;}
.sitemap_wrap *:before{width:15px;height:17px;display:inline-block;}
