/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@charset "utf-8";

html, body{height:100%;min-height:800px;margin:0px; font-family:'Open Sans', Arial, tahoma}
body, th, body, ul, li, dl, dd, dt, p, div, input, select, textarea, button{font-family:'Open Sans', Arial, tahoma;font-size:12px;color:#484848;line-height:1.5em}
td {font-family:'Open Sans', Arial, tahoma;color:#484848;line-height:1.5em;}
h2 {font-family:'Open Sans', Arial, tahoma;font-size:30px;line-height:1.6em;}
h3 {font-family:'Open Sans', Arial, tahoma;color;#445fe6;font-size:24px;line-height:1.4em;}
th {font-size:11px}
img{border:0px;}
td img, td input, td select, td .button{vertical-align:middle}
td{list-style-type:none;margin:0;padding:0}
ul, dl, li, ol, h1, h2, h3, h4, h5, h6, dd, dt, p, div{list-style-type:none;margin:0;padding:0}
em, address{font-style:normal}
form{margin:0;padding:0}
a{color:#242d33;text-decoration:none}
a:hover{text-decoration:underline}

 /* Content Page */
.content_wrap {padding:10px 20px;} /* 20200906 - paddingLeftRight */

.title_wrap {overflow:hidden;padding:0 0 10px 0;} /* 20200906 - paddingLeft */

.row {overflow:hidden;}

 /* 20200906 SiteMap */
.row .col {float:left; width:calc(14.28% - 12px); margin-right:13px;}
.row .col.float_right {float:right; width:calc(14.28% - 10px); margin-right:0;}
.sitemap_wrap .row .col {width:calc(25% - 13px);border-top:1px sold #ddd;}
.sitemap_wrap h5{color:#222;line-height:40px;font-size:14px;padding-left:15px;margin-bottom:5px}
.sitemap_wrap ul li {line-height:35px;font-size:18px;font-weight:bold;padding-left:15px;}
.sitemap_wrap ul li ul {border-top:1px solid #cecfd1;}
.sitemap_wrap ul li ul li {line-height:30px;font-size:16px;font-weight:normal;border-bottom:1px solid #ebeced;}
.sitemap_wrap ul li ul li:last-child {border-bottom:none;}
.sitemap_wrap ul li ul li label {padding-left:30px;}
.sitemap_wrap ul li ul li ul {border-top:1px solid #ebeced;}
.sitemap_wrap ul li ul li ul li {line-height:25px;font-size:14px;border-bottom:1px solid #f7f7f7;}
.sitemap_wrap ul li ul li ul li label, .sitemap_wrap ul li ul li ul li ul li a {padding-left:45px;}
.sitemap_wrap ul li ul li ul li ul {border-top:none;}
.sitemap_wrap ul li ul li ul li ul li {font-size: 12px;}

.sitemap_wrap li i{display:inline-block;vertical-align:middle;width:17px;height:17px; background:url(../images/icons.png) no-repeat;}
.sitemap_wrap li .ic_report {background-position:0 -272px;margin-right:7px;}
.sitemap_wrap li .ic_none {background-position:0 -257px;margin-right:7px;}

.sitemap_wrap, .sitemap_wrap ul{list-style: none;}
.sitemap_wrap *:before{width:15px;height:17px;display:inline-block;}
.sitemap_wrap label{cursor: pointer;margin-left:-15px;}
.sitemap_wrap label:before{content:'';background:url(../images/icons.png) no-repeat -4px -212px;vertical-align: middle;}
.sitemap_wrap input[type="checkbox"] {display: none;}
.sitemap_wrap input[type="checkbox"]:checked~ul {display:block;}
.sitemap_wrap input[type="checkbox"]~ul {display: none;}
.sitemap_wrap input[type="checkbox"]:checked+label:before{content:'';background:url(../images/icons.png) no-repeat -4px -242px;vertical-align: middle;}
.mt10 {margin-top:10px;}
.col_1 li {padding-left:15px;}

