/* CSS Document */
@charset "utf-8";
@font-face {
    font-family: 'SamsungOne-200';
    src: url('../fonts/SamsungOne-200.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-200.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-200C';
    src: url('../fonts/SamsungOne-200C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-200C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-200C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-200C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-300';
    src: url('../fonts/SamsungOne-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-300.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-300C';
    src: url('../fonts/SamsungOne-300C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-300C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-300C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-300C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-400';
    src: url('../fonts/SamsungOne-400.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-400.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-400.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-400C';
    src: url('../fonts/SamsungOne-400C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-400C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-400C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-400C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-450';
    src: url('../fonts/SamsungOne-450.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-450.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-450.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-450.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-450C';
    src: url('../fonts/SamsungOne-450C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-450C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-450C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-450C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: '/SamsungOne-500';
    src: url('../fonts/SamsungOne-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-500.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-500C';
    src: url('../fonts/SamsungOne-500C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-500C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-500C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-500C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-600';
    src: url('../fonts/SamsungOne-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-600.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-600C';
    src: url('../fonts/SamsungOne-600C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-600C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-600C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-600C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-700';
    src: url('../fonts/SamsungOne-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-700.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-700C';
    src: url('../fonts/SamsungOne-700C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-700C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-700C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-700C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-800';
    src: url('../fonts/SamsungOne-800.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-800.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SamsungOne-800C';
    src: url('../fonts/SamsungOne-800C.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SamsungOne-800C.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SamsungOne-800C.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SamsungOne-800C.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html, body{height:calc(100% - 23px);min-height:880px;margin:0px; font-family:'SamsungOne-600', Arial, tahoma}
body, th, body, ul, li, dl, dd, dt, p, div, input, select, textarea, button{font-family:'SamsungOne-600', Arial, tahoma;color:#484848;line-height:1.5em}
td {font-family:Arial, tahoma;color:#484848;line-height:1.5em;}
h2 {font-family:'SamsungOne-800', Arial, tahoma;font-size:21px;font-weight:normal;line-height:1.6em;}
h3 {font-family:'SamsungOne-800', Arial, tahoma;font-size:18px;font-weight:normal;}
body, th, td {font-size:14px}
img{border:0px;}
td img, td input, td select, td .button{vertical-align:middle}
td{list-style-type:none;margin:0;padding:0}
ul, dl, li, ol, h1, h2, h3, h4, h5, h6, dd, dt, p, div{list-style-type:none;margin:0;padding:0}
em, address{font-style:normal}
form{margin:0;padding:0}
a{color:#000;text-decoration:none}
a:hover{text-decoration:underline}
input{vertical-align:middle}
input[type="checkbox"]{width:1px;height:1px;padding:0;border:0 none;margin:0;position:absolute;left:0;top:0;overflow:hidden;clip:rect(0 0 0 0);}
input[type="checkbox"] + label{height:15px;line-height:15px;padding-left:20px;display:inline-block;background:url(../images/checkbox.png) no-repeat 0 0;font-size:15px;vertical-align:middle;cursor:pointer;}
input[type="checkbox"]:hover + label{background-position: 0 -15px;}
input[type="checkbox"]:checked + label{background-position: 0 -30px;}
input[type="checkbox"]:disabled + label{background-position: 0 -45px;}
input[type="checkbox"]:disabled:checked + label{background-position: 0 -60px;}
input[readonly], select[readonly], textarea[readonly]{color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:-moz-read-only {cursor:default;color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:read-only {cursor:default;color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:focus:-moz-read-only {color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:focus:read-only, select:focus:read-only , textarea:focus:read-only  {color:#929292;background-color:#fcfcfc;border-color:#dedede;}
input:disabled {color:#c9c9c9;background-color:#f6f6f6;border-color:#eaeaea;}
select {padding-left:7px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../images/ic_dropdown.png) no-repeat right center}
select:hover {background-image:url(../images/ic_dropdown_hover.png)}
select:focus, select:active {background-image:url(../images/ic_dropdown_active.png)}
select::-ms-expand {display:none;}
select, input, button, textarea {font-size:16px;outline: none;}
select:focus, input:focus, textarea:focus {border-color:#0081c6;}
select, input, textarea {color:#333;border:1px solid #e5e5e5;background-color: #fff;}
select option, select optgroup {font-size:100%}
textarea {overflow:auto;font-size:100%;white-wrap:pre-wrap;width:98%;border:1px solid #e5e5e5;padding:5px 10px}
button {cursor:pointer;height:36px;color:#6f6f6f;vertical-align:top;background-color:#f5f5f5;border:none;border-bottom:1px solid #c5c5c5;border-right:1px solid #ececec;padding:0 35px;}
button:hover {color:#000;background-color:#cfcfcf}
button:disabled {color:#bdbdbd;background-color:#eeeeee}

 /* Layout */
#wrap {height:100%;min-width:1260px;}

 /* Login */
.login {background:#f7f7f7 url(../images/login_bg.png) no-repeat;background-size:100%;}
.login #wrap {height:100%;min-height:928px;}
.login .login_wrap {width:380px;margin-left:46%;padding-top:125px;}

.header_wrap .logo {width:116px;height:20px;background:url(../images/samsung_b.png) no-repeat;margin-bottom:10px}
.header_wrap .logo span {text-indent:-9999px;font-size: 0;position: absolute;top: -9999px;}
.header_wrap h1 {float:left;font-family:'SamsungOne-300', Arial, tahoma;font-size:42px;font-weight:normal;line-height:1.1em}
.header_wrap h1 b {font-family:'SamsungOne-600', Arial, tahoma;font-weight:normal;}

.login .login_forms {font-size:15px;margin-bottom:150px}
.login .login_forms li {position:relative;margin-bottom:14px;color:#646464}
.login .login_forms li.right {color:#333}
.login .login_forms i.mdt:after {font-style:normal;vertical-align:text-top}
.login .login_forms li.mdt:after {position:absolute;z-index:1;top:10px;right:2px}
.login .login_forms input.form_text {width:370px;}
.login .login_forms input.form_text:placeholder {color:#c8c8c8;}
.login .login_forms input.form_text::-webkit-input-placeholder {color:#c8c8c8;}
.login .login_forms input.form_text:-ms-input-placeholder {color:#c8c8c8;}
.login .login_forms .remember {padding:8px 0}
.login .login_forms button.btn_login {width:380px;color:#333333;background-color:#e6e6e6;border:none;border-bottom:1px solid #bfbfbf;border-right:1px solid #e5e5e5;}
.login .login_forms button.btn_login:hover{color:#000;background-color:#cfcfcf}

.login .login_links {margin-bottom:150px}
.login .login_links li {font-size:16px;margin-bottom:15px}
.login .login_links a {color:#323232;text-decoration:underline}
.login .login_links a:hover {color:#0081c6}

.login .footer_wrap {color:#cccccc;}
.login .footer_wrap a {color:#636363;padding:0 10px;font-size:16px;}
.login .footer_wrap a:hover {color:#0081c6}
.login .footer_wrap a:first-child {padding-left:0}
.login .footer_wrap .copy {color:#8f8f8f;margin-top:20px}

 /* Join */
.join {background-color:#ededed}
.join #wrap {width:700px;min-width:700px;margin:30px auto 0;}

.join #wrap .header_wrap {width:400px;margin:0 auto 20px}
.join #wrap .header_wrap .logo {float:left;margin:5px 15px 10px 0}

.join .join_wrap {padding:40px 50px;background-color:#fff}
.join .join_wrap .title_wrap {margin-bottom:30px;padding:0;border-bottom:none}
.join .join_wrap .title_wrap h2 {float:none}
.join .join_wrap .btn_wrap {margin-top:0}

.join h3 {margin:60px 0 30px}
.join .blue {display:block;font-size:16px;margin-top:60px}

.join .forms dd {width:auto;}
.join .forms .error_msg {display:block;margin:0 10px -5px;}

.join .join_wrap .msg_wrap {margin:0 0 30px 0}
.join .join_wrap .msg_wrap h4 {font-weight:normal;margin-bottom:10px}

 /* Header */
.main {margin:25px 0;background-color:#f0f0f0;}
.main .card_wrap {float:left;width:45.5%;background-color:#fff;border:2px solid #ccc;margin-left:1.5%;margin-bottom:20px;padding:15px 1% 5px}
.main .card_wrap.active {border:2px solid #8cb3ea;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}

 /* Header */
#header {position:fixed;z-index:1;top:0;width:100%;min-width:1260px;height:46px;background-color:#474747;}
#header .logo_wrap {position:absolute;top:0;left:0;width:250px;height:46px;background:#222 url(../images/samsung_w.png) no-repeat 24px 17px;}
#header .logo_wrap span {text-indent:-9999px;font-size: 0;position: absolute;top: -9999px;}
#header .util_wrap {text-align:right;margin-left:250px;padding-top:8px;}
#header .util_wrap h1 {float:left;color:#fff;font-family:'SamsungOne-300', Arial, tahoma;font-size:21px;font-weight:normal;margin-left:25px;padding-top:8px;}
#header .util_wrap h1 b{font-family:'SamsungOne-600', Arial, tahoma;font-weight:normal;}
#header .util_wrap a.settings, #header .util_wrap a.user:hover, #header .util_wrap a.alarm, #header .util_wrap a.profile {text-decoration:none;}
#header .util_wrap .settings {position:relative;display:inline-block;width:30px;height:30px;vertical-align:middle;background:url(../images/ic_settings.png) no-repeat center 0;margin-right:24px;}
#header .util_wrap .settings.off {background-position:center -30px;}
#header .util_wrap .settings span {text-indent:-9999px;font-size: 0;position: absolute;top: -9999px;}
#header .util_wrap .settings:hover{background-position:center -30px;}
#header .util_wrap .user {position:relative;display:inline-block;width:30px;height:30px;vertical-align:middle;position:relative;background:url(../images/ic_user.png) no-repeat;margin-right:24px;}
#header .util_wrap .user b{position:absolute;top:2px;right:-17px;width:20px;height:15px;line-height:15px;font-size:11px;font-weight:normal;color:#fff;text-align:center;padding:0 5px;white-space:nowrap;background-color:#ed392e;border-radius:10px;}
#header .util_wrap .user:hover{background-position:0 -30px;}
#header .util_wrap .alarm {position:relative;display:inline-block;width:30px;height:30px;vertical-align:middle;position:relative;background:url(../images/ic_alarm.png) no-repeat;margin-right:20px;}
#header .util_wrap .alarm b{position:absolute;top:2px;right:-17px;width:20px;height:15px;line-height:15px;font-size:11px;font-weight:normal;color:#fff;text-align:center;padding:0 5px;white-space:nowrap;background-color:#ed392e;border-radius:10px;}
#header .util_wrap .alarm:hover{background-position:0 -30px;}
#header .util_wrap .profile {position:relative;display:inline-block;min-width:100px;height:23px;font-family:'SamsungOne-700', Arial, tahoma;color:#fff;font-size:14px;white-space:nowrap;padding:4px 25px 0 15px}
#header .util_wrap .profile:hover {color:#1b99ff;}

 /* Layout */
#container {position:relative;overflow:hidden;height:100%;margin-top:46px;padding-left:250px;background-color:#f7f7f7}

 /* GNB */
#gnb {position:absolute;top:0;left:0;width:220px;padding:36px 15px}

 /* Menu */
.gnb_wrap {list-style:none;margin:0;padding:0;}
.gnb_wrap a {text-decoration:none;}
.gnb_wrap > li {position:relative;font-family:'SamsungOne-700', Arial, tahoma;font-size:16px;border-top:1px solid #dadada;}
.gnb_wrap > li:last-child{border-bottom:1px solid #dadada;}
.gnb_wrap > li > a {display:block;padding:28px 10px 27px;color:#222;}
.gnb_wrap > li:hover > a, .gnb_wrap > li.active > a {color:#1b99ff;}
.gnb_wrap > li.active {border-top-color:#1b99ff;border-bottom:1px solid #1b99ff;}
.gnb_wrap li > a > .ic_arrow {float:right;width:20px;height:20px;background:url(../images/gnb_down.png) no-repeat;}
.gnb_wrap li > a:hovefr > .ic_arrow {background:url(../images/gnb_down_hover.png) no-repeat;}
.gnb_wrap li.active > a > .ic_arrow {background:url(../images/gnb_up.png) no-repeat;}
.gnb_wrap li.active > .gnb_sub {display:block;}
.gnb_wrap .gnb_sub {display:none;list-style:none;padding:0 0 20px 10px;}
.gnb_wrap .gnb_sub .gnb_sub {padding:0 0 0 10px;}
.gnb_wrap .gnb_sub .ic_arrow {opacity:0.5;margin-right:5px}
.gnb_wrap .gnb_sub .active a .ic_arrow, .gnb_wrap .gnb_sub a:hover .ic_arrow{opacity:1}
.gnb_wrap .gnb_sub > li > a {font-size:14px;padding:10px 5px 10px 0;display: block;color:#636363;}
.gnb_wrap .gnb_sub > li.active > a, .gnb_wrap .gnb_sub > li > a:hover {color:#1b99ff;}

 /* Content */
#content {min-height:959px;height:calc(100% - 46px);background-color:#fff}
#content iframe {height:95%;min-height:901px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#content iframe {height:92%;}
	::i-block-chrome, #content {height:100%;margin-bottom:-52px;}
}
.breadcrumb {height:40px;background-color:#f0f0f0;padding:0 30px}
.breadcrumb ul{float:left}
.breadcrumb li{display:inline-block;color:#333;font-size:16px;margin-top:8px}
.breadcrumb li:after{content:'>';margin:0 10px}
.breadcrumb li:last-child:after{content:''}
.breadcrumb .filter{float:right;display:inline-block;width:40px;height:40px;background:url(../images/ic_filter.png) no-repeat;}
.breadcrumb .filter span {text-indent:-9999px;font-size: 0;position: absolute;top: -9999px;}

 /* Content Page */
.content_wrap {background-color:#fff;padding:0 25px 30px}
.title_wrap {overflow:hidden;margin-bottom:20px;padding:30px 0;border-bottom:1px solid #e1e1e1}
.title_wrap h2 {float:left;}
.title_wrap .btn_wrap {float:right;clear:none;}
.title_wrap .btn_wrap button {margin-top:-10px;margin-bottom:-5px;}
.subtitle_wrap {overflow:hidden;clear:both;height:36px;margin-bottom:20px}
.subtitle_wrap h3 {float:left;line-height:36px;}
.subtitle_wrap button {float:right;}

 /* Search */
.header_wrap {overflow:hidden;margin-bottom:20px}
.header_wrap .search_wrap {float:left;position:relative}
.header_wrap .search_wrap .btn_delete {left:320px;}
.header_wrap .btn_wrap {float:right;clear:none;}

.btn_wrap {clear:both;text-align:right;}
.btn_wrap button {margin-left:7px}

 /* List */
table.list_v {border-collapse:collapse;width:100%;border:1px solid #d9dada;margin-bottom:20px;table-layout: fixed;}
table.list_v th {position:relative;color:#000;font-weight:normal;padding:8px 10px 7px;border-bottom:1px solid #cccdcd;background:#f0f0f0;min-width:100px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
table.list_v tr:nth-child(2n){background:#eaf3fe;}
table.list_v td {position:relative;padding:6px 10px 5px;height:26px;border-bottom:1px solid #d9dada;min-width:100px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
table.list_v .over {background:#fafafa!important;}
table.list_v .select {background:#f7f7f7;}
table.list_v td select {width:100%;font-size:14px;height:30px;}
td a{text-decoration:underline}
.list_v_scroll {overflow-y:auto;margin-bottom:20px;border:1px solid #d9dada;}
.list_v_scroll table.list_v {margin-bottom:0;border:0;}
.list_v_scroll table.list_v tr:last-child td {border-bottom:0;}

 /* Scroll List */
.scroll {position:relative;overflow-y:auto;border:1px solid #d9dada;margin-bottom:20px;}
.scroll table.list_v {border:none;margin-bottom:0;}

.ic_sort {cursor:pointer;display:inline-block;width:15px;height:15px;background:url(../images/ic_sort.png) no-repeat 0 2px;}
.ic_edit {cursor:pointer;display:inline-block;width:20px;height:20px;background:url(../images/ic_edit.png) no-repeat center 1px;}
.ic_deact {cursor:pointer;display:inline-block;width:20px;height:20px;background:url(../images/ic_deact.png) no-repeat center 1px;}
.ic_password {cursor:pointer;display:inline-block;width:20px;height:20px;background:url(../images/ic_password.png) no-repeat center 1px;}
.ic_edit:hover, .ic_deact:hover, .ic_password:hover {background-position:center -29px}
.ic_lamp {display:block;width:20px;height:20px;border-radius:10px;margin:0 auto}
.ic_lamp.red {background-color:#d74034}
.ic_lamp.green {background-color:#1f8d70}

/* Text Style */
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
.blue, a.blue {color:#0081c6;}
.gray, a.gray  {color:#c9c9c9;}

 /* Form */
.forms {overflow:hidden;max-width:1200px;margin-bottom:5px}
.forms dt {float:left;position:relative;display:inline-block;width:167px;min-height:36px;line-height:36px;text-align:right;margin-right:20px;vertical-align:top}
.forms dt.mdt:after {position:absolute;top:3px;right:-17px;}
.forms dt button {height:30px;font-size:14px;padding:0 15px;margin-left:5px;}
.forms dd {float:left;position:relative;width:1000px;min-height:36px;line-height:36px;margin-bottom:5px;}
.forms dd button.btn_normal {padding:0 10px;}
.forms input.form_search {width:400px;}
@media screen and (min-width:0\0){
	.forms input.form_search {width:397px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, .forms input.form_search {width:399px;}
	::i-block-chrome, select{text-indent: 4px;line-height:30px}
	::i-block-chrome, button{margin-left:-2px}
}
.forms input.form_text {width:400px;} 
.forms select.form_select, .forms select.form_list {width:410px;}
.forms select.form_phone {width:150px;}
.forms input.form_phone {width:139px;}
.forms select.form_phone + input.form_phone, .forms input.form_phone + input.form_phone {width:246px!important;}
@media screen and (min-width:0\0){
	.forms input.form_phone {width:139px;}
}
.forms textarea {width:390px;}
.forms + .subtitle_wrap {margin-top:10px;}
.forms dd.connection_wrap {width:720px;padding-left:230px;line-height:36px;}
.forms dd.connection_wrap .loading {display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../images/loading_s.gif) no-repeat center;margin-left:10px}
.forms dd.connection_wrap span {margin-left:10px;}
.forms dd.connection_wrap .completed {color:#1aa05a;}
.forms dd.connection_wrap .failed {color:#ee392f;}
.forms dd .list_scroll {width:410px;}
.forms.full dt{width:100%!important;text-align:left}
.forms.full dd{position:relative;width:100%!important;}
.small .forms.full .list_scroll {width:553px;height:235px;}
.small .forms.full .list_scroll .selected {background-color:#eaf3fe}
.small .forms.full .btn_up {position:absolute;top:0;right:0;background:#f5f5f5 url(../images/ic_up.png) no-repeat center;padding:58px 20px;}
.small .forms.full button:hover {background-color:#cfcfcf}
.small .forms.full .btn_down {position:absolute;bottom:0;right:0;background:#f5f5f5 url(../images/ic_down.png) no-repeat center;padding:58px 20px;}
.forms.full .form_text {width:588px!important;}
.forms.numbering dt {width:237px}
.forms.numbering dd {width:930px;color:#c9c9c9}
.forms.numbering dd .form_text {width:150px;text-align:center;padding-left:0}
.forms.numbering dd .btn_right {margin-right:10px}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, .forms .btn_search{margin-left:-41px}
}

.grid_2 {float:left;width:50%;}
.grid_2 dd {width:412px;}
.float_left {float:left;}
.float_right {float:right;}
.indent {margin-left:11px;}

.m20 {margin-bottom:20px}
.m30 {margin-bottom:30px}
.m40 {margin-bottom:40px}

.forms .btn_left {background:#f5f5f5 url(../images/ic_left.png) no-repeat center;padding:0 20px;}
.forms button:hover {background-color:#cfcfcf}
.forms .btn_right {background:#f5f5f5 url(../images/ic_right.png) no-repeat center;padding:0 20px;}

select.error, input.error {color:#ee392f;border:1px solid #ee392f;}
.error_msg {color:#ee392f;margin-left:10px;}

.btn_blue {color:#fff;background-color:#0081c6;}
.btn_blue:hover{color:#fff;background-color:#0069a1;}

.mdt:after {content:'*';color:#e83e3e;font-size:18px;margin-right:5px;}
input.form_text, input.form_phone{height:32px;padding-left:10px;}
input.form_text.center {padding-left:0}
select.form_select {min-width:200px;}
select.form_phone, select.form_select {height:36px;}
select.form_phone {vertical-align:top;}
select.form_list {height:auto;background:none;padding-left:0;text-indent:0.2em;}
input.form_search {width:320px;height:32px;padding-left:10px;}
input.form_search:placeholder {color:#c8c8c8;}
input.form_search::-webkit-input-placeholder {color:#c8c8c8;}
input.form_search:-ms-input-placeholder {color:#c8c8c8;}
.btn_search {text-indent:-9999px;margin-left:-40px;border:none;background:url(../images/ic_search.png) no-repeat center 8px;padding:0 20px;}
@media screen and (min-width:0\0){
	.btn_search {margin-left:-41px;}
}
.btn_search:hover {background:none;background-image:url(../images/ic_search.png);background-repeat:no-repeat;background-position:center -22px;}
.btn_delete {display:none;position:absolute;top:10px;left:400px;text-indent:-9999px;width:16px;height:16px;margin-left:-40px;border:none;background:url(../images/ic_close.png) no-repeat center 0;padding:0;}
.btn_delete:hover {background:none;background-image:url(../images/ic_close.png);background-repeat:no-repeat;background-position:center -16px;}
input.form_search:focus + .btn_delete {display:block;}
.list_scroll {height:170px;overflow-y:auto;border:1px solid #e5e5e5;}
.list_scroll li {line-height:34px;padding-left:10px;}

/* Tab */
.tab_wrap {height:59px;border-bottom:1px solid #d6d6d6;margin-bottom:20px;padding:0 25px;}
.tab_wrap li {cursor: pointer;float:left;font-family:'SamsungOne-700', Arial, tahoma;font-size:16px;color:#888;text-align:center;background-color:#f5f5f5;border:1px solid #d6d6d6;padding:17px 16px;margin:0 0 -1px -1px;}
.tab_wrap li:hover {color:#0081c6;}
.tab_wrap li.active {background-color:#fff;color:#0081c6;border-bottom:1px solid #fff;}
.tab_content {display:none;padding-top:10px;}

 /* Popup */
.alert .content_wrap {width:400px;margin:300px auto 0;}
.large .content_wrap {width:1200px;margin:20px auto 0;}
.medium .content_wrap {width:1000px;margin:50px auto 0;}
.medium .forms dd {width:810px}
.small .content_wrap {width:600px;margin:50px auto 0;}
.small .forms {max-width:600px;}
.small .forms dt{width:160px}
.small .forms dd {width:410px}
.small .forms input.form_text {width:400px}
.popup_wrap {position:absolute;width:100%;height:100%;top:0;background: rgba(0, 0, 0, 0.15);}
.popup_wrap .content_wrap {overflow:hidden;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);padding-left:22px;padding-right:22px;padding-bottom:32px}
.popup_wrap .title_wrap {overflow:hidden;padding-bottom:7px;}
.popup_wrap .subtitle_wrap {margin-left:22px}
.popup_wrap h2 {float:left;}
.popup_wrap .btn_wrap {clear:both;margin-top:20px}
.msg_wrap {margin:30px 0;}
.mega .content_wrap {width:unset;bottom:0;border-top:1px solid #d9dada;box-shadow: -4px -4px 4px 0 rgba(0,0,0,0.1),-4px -4px 4px 0 rgba(0,0,0,0.05)!important;margin-top:30%;margin-left:10px}
.mega .content_wrap .subtitle_wrap {margin-top:20px;margin-bottom:7px;margin-left:0}
.mega .content_wrap .subtitle_wrap .btn_close {margin-top:10px;}

.alarm_popup, .profile_popup {z-index:1;top:65px;width:440px;height:auto;font-size:16px;line-height:1.8;color:#333;text-align:left;background:none;}
.user_popup {right:-190px!important;text-align:left;}
.alarm_popup {right:-135px;}
.profile_popup {right:25px;}
.alarm_popup:before, .profile_popup:before {content: '';display:block;position:absolute;width:30px;height:19px;background-image:url(../images/ic_popup.png);margin-top:-19px;}
.alarm_popup:before {margin-left:275px;}
.user_popup:before {margin-left:220px;}
.profile_popup:before {margin-left:380px;}
.alarm_popup .content_wrap, .profile_popup .content_wrap {padding:20px 30px;background-color:#f7f7f7;} 
.alarm_popup li span {display:block;font-family:'SamsungOne-500', Arial, tahoma;color:#8f8f8f;font-size:14px;}
.alarm_popup ul {margin-top:5px;margin-bottom:-5px}
.alarm_popup ul li {padding:15px 0 15px 70px;border-bottom:1px solid #e1e1e1;}
.alarm_popup ul li:last-child {border-bottom:none;}
.alarm_popup ul li.error {background:url(../images/ic_error.png) no-repeat 10px 20px;}
.alarm_popup ul li.info {background:url(../images/ic_info.png) no-repeat 10px 20px;} 
.alarm_popup ul li.warning {background:url(../images/ic_warning.png) no-repeat 10px 20px;}
.alarm_popup ul li.confirm {background:url(../images/ic_confirm.png) no-repeat 10px 20px;}
.profile_popup .msg_wrap {margin:15px 0 10px;}
.profile_popup .btn_wrap a{float:left;color:#0081c6;font-size:14px;line-height:30px;}
.profile_popup .btn_wrap button {height:30px;font-size:14px;padding: 0 15px;}

.btn_close {float:right;text-indent:-9999px;width:16px;height:16px;border:none;background:none;background-image:url(../images/ic_close.png);background-position:center 0;padding:0;margin-top:2px;}
.btn_close:hover {background:none;background-image:url(../images/ic_close.png);background-position:center -16px;}

 /* Paging */
.paging {text-align:center;}
.paging a{padding:5px 10px;color:#8c8c8c;}
.paging a:hover, .paging span:hover {color:#2f81e7;}
.paging span {cursor:pointer;color:#949494;font-size:18px;font-weight:bold;padding:5px 10px;}
.paging .first:after {content:'<<';}
.paging b {display:inline-block;width:20px;color:#fff;font-weight:normal;background-color:#2f81e7;border-radius:10px;}
.paging .prev:after {content:'<';margin-right:20px;}
.paging .next:after {content:'>';margin-left:20px;}
.paging .last:after {content:'>>';}

 /* info */
.msg_wrap.info {padding:10px 0 10px 70px;margin:20px 0;background:url(../images/ic_info.png) no-repeat 10px center;} 

/* 2019.03.26 mstr main padding add except dashboard */
.main_padding {padding-left:20px;padding-right:20px;background-color:#fff!important}
#content div {height:100%;background-color:#f0f0f0}