html, body{height:100%;margin:0;padding:0;font-family:"Malgun Gothic", Arial, tahoma;background-color:#000;overflow:hidden}
body {max-width:1850px;padding:5px;background-color:#f8f8f8;} 
body, ul, li, dl, dd, dt, p, div, input, select, textarea, button{font-family:"Malgun Gothic", Arial, tahoma;font-size:12px;color:#484848;line-height:1.5em}
h1 {height:40px;font-size:18px;line-height:40px;color:#fff;margin:5px;padding:0 10px 0 15px;background-color:#9199a9;}
h1 div {float:right;color:#fff;font-size:12px;font-weight:normal;text-align:right;line-height:15px;margin-top:5px}
h2 {position:relative;clear:both;height:34px;font-size:16px;line-height:34px;color:#53535d;margin:5px;padding:0 0 0 15px;border-bottom:1px solid #dcdcdc;}
h2:before {content:"";display:block;position:absolute;top:12px;left:0;width:4px;height:4px;border:3px solid #b8b2d1;border-radius:5px;}
h2 span {float:right;font-size:12px;font-weight:normal}
h3 {height:32px;font-size:14px;line-height:32px;color:#444444;;margin:0;padding:0 15px;border-bottom:1px solid #e3e5ea;}
h3 span {float:right;font-size:12px;font-weight:normal}
.container {display:block;}
.container .container {float:left;}
.content {box-sizing:border-box;display:inline-block;float:left;margin:5px;padding:0;border:1px solid #e3e5ea;background-color:#fff;-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.06); box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.06);}

table.display {border-collapse:collapse;height:calc(100% - 40px);table-layout: fixed;margin:5px auto 0;}
table.display tr {border-top:1px solid #dddcda;}
table.display tr:first-child {border-top:none;}
table.display th {color:#333;text-align:center;font-size:15px;padding-top:12px;}
table.display td {font-weight:bold;text-align:center;font-size:36px;}
table.display td span {color:#333;font-size:18px;font-weight:normal;}

table.display + table.display {border-collapse:collapse;width:calc(100% - 10px);height:calc(100% - 40px);table-layout: fixed;margin:0 auto;}
table.display + table.display tr {border-top:1px solid #fff;}
table.display + table.display th {font-size:16px;padding-left:30px;}
table.display + table.display td {font-size:30px;padding-right:10px;}
table.display td span {font-size:16px;}

.mb_15 {margin-bottom:15px}

.t_l {text-align:left}
.t_r {text-align:right}

.f_l {float:left}
.f_r {float:right}

.tc_br1 {color:#8d744a}
.tc_br2 {color:#ba9a63}
.tc_ye1 {color:#e29600}
.tc_ye2 {color:#fbb731}
.tc_gn1 {color:#768447}
.tc_gn2 {color:#7e9925}
.tc_gn3 {color:#6c9000}
.tc_bl1 {color:#4c7ece}
.tc_bl2 {color:#628ed6}

.bg_br1 {background-color:#8d744a}
.bg_br2 {background-color:#ba9a63}
.bg_ye1 {background-color:#e29600}
.bg_ye2 {background-color:#fbb731}
.bg_gn1 {background-color:#768447}
.bg_gn2 {background-color:#7e9925}
.bg_gn3 {background-color:#6c9000}
.bg_bl1 {background-color:#4c7ece}
.bg_bl2 {background-color:#628ed6}

.bo_br1 {border-color:#8d744a}
.bo_br2 {border-color:#ba9a63}
.bo_ye1 {border-color:#e29600}
.bo_ye2 {border-color:#fbb731}
.bo_gn1 {border-color:#768447}
.bo_gn2 {border-color:#7e9925}
.bo_bl1 {border-color:#4c7ece}
.bo_bl2 {border-color:#628ed6}

.bt_3 {border-top:3px solid}
.bb_1 {border-bottom:1px solid}

table.list_v {border-collapse:collapse;width:100%;table-layout: fixed;border-top:1px solid #404348; border-bottom:1px solid #c5c5c5;}
table.list_v thead tr{background-color:#eaeff5}
table.list_v tr {background-color:#fff}
table.list_v tr:nth-child(2n) {background-color:#f9fbfc}
table.list_v th {position:relative;font-weight:bold;padding:11px 10px;border-right:1px solid #b7c4dc;border-bottom:1px solid #b7c4dc;}
table.list_v td {position:relative;padding:10px 10px;border-top:1px solid #cdd3d8;border-right:1px solid #cdd3d8;text-align:right}
table.list_v td:last-child {border-right:none}
table.list_v td.left {text-align:left;}
table.list_v td .up {position:relative;color:#eb7311}
table.list_v td .up:before {content:"";display:block;position:absolute;top:-3px;left:-17px;width:0;height:0;border-top:8px solid transparent;border-right:6px solid transparent;border-bottom:8px solid #eb7311;border-left:6px solid transparent;}
table.list_v td .down {position:relative;color:#508ae6}
table.list_v td .down:before {content:"";display:block;position:absolute;top:5px;left:-17px;width:0;height:0;border-top:8px solid #508ae6;border-right:6px solid transparent;border-bottom:8px solid transparent;border-left:6px solid transparent;}
table.list_v td .red {color:#eb7311}
table.list_v td .blue {color:#508ae6}
